[2015-01-09 11:13] petecoop opened #2 "Support for Gitlab CI"
Support for private [Gitlab CI](https://about.gitlab.com/gitlab-ci/) servers would be great.

API documentation available [here](https://gitlab.com/gitlab-org/gitlab-ci/tree/master/doc/api)

[2015-01-09 14:04] marcells commented on #2
I've no experience with GitLab, but I'll take a look at it soon.

Resources:
- Testing environment:
    - [Docker GitLab](https://github.com/sameersbn/docker-gitlab)
    - [Docker GitLab CI](https://github.com/sameersbn/docker-gitlab-ci)
- API
    - [API Docs](https://gitlab.com/gitlab-org/gitlab-ci/tree/master/doc/api)
    - [SO: API to request Builds](http://stackoverflow.com/a/15342142)

[2015-01-09 20:08] benbracha opened #3 "Cannot see job details when working with Jenkins"
Hi,

This looks very cool project and I'm trying to integrate it with my team's Jenkins.
I configured config.json with two jobs we have, and I do get the jobs, but only with their build number and status. On the documents, I could see that much more data can be visible (job's name, running status and more).

Probably I'm configuring something wrong?

Here is what I get (as you can understand from

[2015-01-09 21:06] marcells commented on #3
Hi,

you did everything right.

The build monitor has a responsive screen design. The problem is that the resolution of your screen is a bit to low to show all details.

I'm currently thinking about a theming mechanism, which would solve your problem. Another solution is to modify the current design, to be able to show more details for low-resolution devices.

Could you tell me the resolution of y

[2015-01-09 21:09] benbracha commented on #3
Oh.. actually I had a feeling it is related to that :) I tested your project on my macbook pro 13" 1280X800. Probably this is the issue...

BTW - I couldn't run things with Docker. This is my first trial with Docker, so I probably missing something.
But after installing docker and trying to run docker as detailed, I got this one:

׳׳׳
<benbracha@bens-mbp:docker> $ docker build -t my-node-build-mon

[2015-01-09 21:21] marcells commented on #3
In the documentation there is a period at the end of the command. It's important cause it tells Docker to take the Dockerfile from the current path.

`docker build -t my-node-build-monitor .`

[2015-01-10 14:45] benbracha commented on #3
Oops :)

Ok, now I get this one:
[code]

Maybe I didn't install Docker right?

[2015-01-10 15:03] marcells commented on #3
Yes, it looks like a installation/execution problem of Docker itself. I run Docker on Linux. So, I don't have any experiences on the Mac. You have to check the docs of Docker or boot2docker.

We seem to drift away from the original issue. If you have further problem, feel free to open a new issue for it.

[2015-01-10 18:33] benbracha commented on #3
Indeed. Thanks a lot!

[2015-01-10 18:33] #3 closed

[2015-01-12 00:54] marcells commented on #2
@petecoop
I did set up a demo environment (GitLab, GitLab CI, GitLab CI Runner) and the Rest API calls to GitLab are working. But the Rest API calls to the GitLab CI server always respond with a `403 Forbidden` error. I've no idea what's the cause of the problem.

That's the url, which I tried to request. The token belongs to the admin user.
`http://gitlab-ci/api/v1/projects?private_token=h7Mf4Dia

[2015-01-12 10:15] petecoop commented on #2
@marcells I'll look into it when I've got a bit of time.

Not sure what the cause of the problem you're having is but I've got a live setup that I can test with so will be much easier

[2015-01-12 10:17] marcells commented on #2
Exactly. Thank you.

[2015-01-13 03:33] marcells commented on #3
Hey, I've added support for themes now. If you want to, you could create a theme which works great for smaller devices and send a pull request. You just need to create one html template and one stylesheet.

[Show default theme](http://builds.mspi.es), [Show list theme](http://builds.mspi.es/?theme=list)
[More information how to create a theme](https://github.com/marcells/node-build-monitor#theming

[2015-01-13 10:06] benbracha commented on #3
That's pretty cool thanks! I'll take a look. I plan to display this on big screen so the default theme will be good. But this flexibility can help.

[2015-03-19 10:50] TKegelaers opened #7 "TeamCity 9"
When retrieving builds for TeamCity 9 I get the following error:

 Cannot read property 'build' of undefined.

Something is going wrong at `selectMany(data, function (x) { return x.build || []; });`
in TeamCity.js line 46

[2015-03-22 13:37] marcells commented on #7
Does that happen all the time or just occasionally?

[2015-03-23 06:21] TKegelaers commented on #7
It happens all the time.
When I type in the url to get the builds via the browser i receive result.
`http://pallas/httpAuth/app/rest/buildTypes/id:bt91/builds`

[2015-03-24 10:39] TKegelaers commented on #7
I've found the problem. There was something wrong with the configuration.
Issue can be closed.

[2015-03-24 10:39] #7 closed

[2015-06-16 08:08] kakulukia opened #8 "can i somehow show private builds?"
currently the build monitor stays empty

[2015-06-16 16:22] marcells commented on #8
Could you please provide more information? Which service do you use? Are there any errors or is there any output in the console?

[2015-06-16 16:39] kakulukia commented on #8
I should somehow be able to put my access token in the config file to be able to see my private repos in the monitoring dashboard.
I'm using Travis with private repos in Github.

[2015-06-16 21:50] marcells commented on #8
I currently don't own a private Travis account. So, I tried to implement the access to private builds by only using the documentation.

Please check and test my changes in the travis-pro branch in commit bd96009d5b6b709609a41aba87cc7fa06ec4528a. Define `travis-ci.com` as `url` and your access token as `token` in the configuration. If it's working, I'll merge it into master.

If there are still som

[2015-06-17 14:31] kakulukia commented on #8
thx for the quick fix .. but sadly i cant confirm it yet .. i have to figure out first (together with the travis support team) why their API does not report any builds although i see everything on the webpage .. so the build monitor gets no data to display .. wich is weird!

i will report back as soon as this is sorted out

[2015-06-17 14:32] kakulukia commented on #8
but i bet this should work once the API actually reports my data

[2015-06-19 07:28] kakulukia commented on #8
it works!

BUT i kinda have two complains, about the current version

1. could you leave the config.json out of versioning but instead checkin a config.json.example to have a clean repo even when setting up my own config ..

2. i have multiple (7) repositories and just listing the builds will kinda hide that other not so active repos have some problems because the more recent "news" push the bad n

[2015-06-19 07:28] #8 closed

[2015-06-23 20:17] marcells commented on #8
Great, then I will soon merge the changes into master.

1. If you run the build monitor in a Docker container, then you can copy the content of the `docker` sub folder in the repo to a place on your disk and just run the script `run_without_tfsproxy.sh` (the Docker image will be built automatically from the master branch).

2. Hm, I understand your problem. Did you try to increase the `numberOfBui

[2015-07-15 06:57] patolo opened #9 "Teamcity"
Is there a way of displaying the names of the branches using the service TeamCity.js?
I'm using git flow and would like to display feature branches.

[2015-07-15 12:57] marcells commented on #9
I've no experiences with git flow. Do you know how to query the needed information with the [TeamCity REST API](https://confluence.jetbrains.com/display/TCD9/REST+API)?

[2015-07-16 08:43] patolo commented on #9
Hi @marcells, I can't really find a nice way using the TeamCity API for this purpose. Hoping you have a good idea ;)

[2015-07-16 09:15] marcells commented on #9
;-) I neither have (a lot of) experience with TeamCity, nor with gitflow. I don't find any time this weekend, but I will take a look at it next week.

[2015-07-19 19:34] kakulukia commented on #8
sorry for the even later response .. we are going to organize the monitoring differently .. i think i wont have time for the new design .. jst wanted to let you know.

[2015-07-29 10:46] jlouazel commented on #2
Any news about this topic guys?

[2015-07-29 10:50] jlouazel opened #10 "Demo link down"
The demo link doesn't work anymore. Is it possible to provide a new one?

[2015-07-29 11:27] marcells commented on #10
Oh, thanks. It should be up again.

[2015-07-29 11:27] #10 closed

[2015-07-29 11:32] marcells commented on #2
I thought @petecoop wanted to write a plugin for GitLab CI. Maybe you find some time?

[2015-08-11 22:40] jlouazel opened #11 "What about extensions?"
Hi @marcells.

In the description of your repository, you said that your project can be easily extended.
I'm planning to contribute for GitlabCI and I want some advices. Do you have some code that facilitate an integration of a new service? How can I start a new integration?

Thanks

[2015-08-12 13:46] marcells commented on #11
Cool, @jlouazel, thank you.

Just take a look at the existing services in the services directory of the repository, if you need a template.

In your case create a file named `Gitlab.js` in this directory, and implement the `configure()` and `check()` methods, like the other services do it. It will be registered automatically and can be configured in the central `config.json` (the `configuration` k

[2015-08-14 08:51] patolo commented on #9
I don't think we could use TeamCity like this without integration against CVS, Github.

[2015-12-14 13:41] rajatguptarg opened #12 "Showing default values"
It is showing me default build of this repo. My `config.json` is:

`{
  "monitor": {
    "interval": 300,
    "numberOfBuilds": 12,
    "debug": true
  },
  "services": [
    {
      "name": "Travis",
      "configuration": {
        "url": "https://travis-ci.org",
        "token": "my-token",
        "slug": "rajatguptarg/beacons"
      }
    }
  ]
}
`

[2015-12-14 13:48] rajatguptarg commented on #12
Sorry, my mistake.

[2015-12-14 13:48] #12 closed

[2016-01-09 16:20] #11 closed

[2016-01-26 19:54] mablae commented on #2
Hey guys,

I am also using Gitlab CI now and want to have an awesome monitor like this :smile:

I will look into the details and implement it, when possible. Should not be a big task since Gítlabs API pretty much follows the Travis CI API. However sadly none of the available node gitlab API client have the CI api calls implemented yet. Now I am wondering: Should I patch one of those libs first? Wh

[2016-01-31 15:36] marcells commented on #2
Hi @mablae,

you can take a look at the implementation of the Travis service. I just use a few simple rest calls via `request`. But if you want to contribute to the node Gitlab API first and then use this wrapper, feel free to do it.

I'm fine with both approaches.

Regards

[2016-02-10 00:23] #2 closed

[2016-04-13 17:12] Ralf1108 opened #17 "show indicator on browser tab icon if own build fails (e.g. like slack shows new messages)"

[2016-04-13 17:26] marcells commented on #17
I have to check, if it's easily possible determine the state of a build. But it's definitely possible to show an indicator, when an own build is processed.

[2016-04-23 14:35] jlouazel opened #18 "CircleCI Support"
Hi,

Is there any project to support CircleCI soon?

Regards,

[2016-04-25 19:37] marcells commented on #18
Currently not planned. But the Rest API looks good: https://circleci.com/docs/api.

Do you think you could implement it and make a pull request?

[2016-04-25 23:12] jlouazel commented on #18
Yes, their API is quite good. I will try to do that this week if I can find some time to.

[2016-07-19 17:49] ktoley opened #20 "Attempting to add as new service for BuildBuddy"
What is the minimum require for a build to display?
I attempted to create a new service based on GitLab.js and while it looks like I have no problems accessing the build stats, and the console log shows the correct number of builds and projects the web site either shows the loading animation indefinitely or loads with no build tiles.

Do you happen to have an example service with a mock build whic

[2016-07-19 18:20] marcells commented on #20
You can take a look at [GitLab.js](https://github.com/marcells/node-build-monitor/blob/master/app/services/GitLab.js) or at the other services to get some inspiration. The `Tfs.js` or `Tfs2015.js` are quite simple.

[2016-08-08 18:29] halkeye opened #21 "Demo doesn't work"
Your demo page (https://builds.mspi.es/) just shows a big empty page with no builds.

I suspect its because there's no recent results? I don't know though. Had to download and try out the sample to see how it looks.

[2016-08-09 08:40] marcells commented on #21
Thanks for the info. I just restarted the docker container and it worked again. Sadly, I wasn't able to find out, what was going wrong.

[2016-08-09 08:40] #21 closed

[2016-08-09 13:52] wojciiii opened #22 "SyntaxError: Unexpected end of input"
I'm using node v4.4.7 on Ubuntu.

I get the following exception when trying to use the monitor. I configured two Jenkins jobs to be monitored in app/config.json.

3:46:37 PM | Check for builds...
3:46:37 PM | Check for builds...
node-build-monitor is listening on port 3000
3:46:51 PM | 178 builds found....
3:46:51 PM | builds changed
3:46:54 PM | Check for builds...
3:46:54 PM | Check for builds..

[2016-08-10 20:29] #20 closed

[2016-08-10 20:44] marcells commented on #22
Hm, I don't know your configuration. I made a short try with a free jenkins server I've found and there were no errors.
[code]

Maybe the jenkins-api module is not compatible to your Jenkins version or something like that. If you find the issue and it's a problem in the plugin of the build monitor, please feel free to make a pull request.

[2016-08-11 06:20] wojciiii commented on #22
I can provide you with more info about my systems if you want.

I saw no attempt to catch any exceptions thrown by the jenkins-api module. Can this be the issue here?

[2016-08-11 17:54] marcells commented on #22
Do you know, why the exception is thrown? Because, due to your log, the builds were found and collected one time. Or did you take a look at https://github.com/jansepar/node-jenkins-api, if there are some open issues?

[2016-08-11 18:27] wojciiii commented on #22
A reverse proxy is part of our infrastructure - this is sometimes not working correctly and it seems that it returns ~half of the data jenkins is supposed to return in a call to the API. I would expect either the API or the user of the API to retry the request or do some kind of error handling if the request fails.

[2016-08-11 18:39] marcells commented on #22
Ah, I see, this should be a job for your sysadmin. I think you've problems with other services, too. ;-)

You're right, that's a general problem, which should be handled by the monitor itself. I think the best solution is to catch the error, and log it to the console, don't update the builds and wait for the next interval. Should this fix your problem?

[2016-08-11 18:43] wojciiii commented on #22
I think so. I really like this monitor and would love to use it for looking at results of specific Jenkins jobs. :)

[2016-08-11 18:48] marcells commented on #22
Alright, I currently have some other important stuff to do. If you want, you can fix it by yourself and make a pull request or wait a bit until I find some time (maybe tomorrow or on sunday).

[2016-08-13 09:02] wojciiii commented on #22
No rush. I think that fixing this will make your monitor more robust so that would be in your interest. ;-)

[2016-08-16 02:10] marcells commented on #22
So, I improved the error handling now. But the parse errors can not be solved (in a nice way), because they occur in the callback of the jenkins-api module. I made a pull request, so that the errors are returned in the callback properly. When it's merged and the npm package is updated, the build monitor shouldn't crash again.

https://github.com/jansepar/node-jenkins-api/pull/49

[2016-08-16 08:16] LeoHuckvale opened #24 "Support for self-signed certificates"
We have a GitLab instance deployed on our network with self-signed SSL certificates. I've managed to get node-build-monitor working for us by hacking around to insert a custom certificate into every call to the `request` module in "app/services/GitLab.js".

Would you be amenable to supporting self-signed certs in this project? If so, I'd be more than happy to make a pull request - at least to get

[2016-08-16 10:35] marcells commented on #24
I think you can use `request = request.defaults(options);` once. Then it will be used for each request. It's done in the same way be the jenkins-api module used by the jenkins service ([here's the code of the service](https://github.com/marcells/node-build-monitor/blob/master/app/services/Jenkins.js#L124)/[here's the code of the jenkins-api module](https://github.com/jansepar/node-jenkins-api/blob

[2016-08-16 12:22] LeoHuckvale commented on #24
Thanks for the pointers, and for a quick response. Will have a go at a PR.

[2016-08-16 12:51] marcells commented on #24
Thank you! :+1:

[2016-08-17 13:40] LeoHuckvale opened #25 "Render project and user avatars"
It might be useful to render project avatars (and possibly users) next to builds. This should make it easier to recognise specific projects when you have several on the screen.

This might not be available in all services (would require some research).

GitLab
-------

- [The projects API](http://docs.gitlab.com/ee/api/projects.html#get-single-project): GET /projects/:id -> JSON["avatar_url"]
- [T

[2016-08-17 14:33] marcells commented on #25
Good idea. It's a bigger change. I will think about about a solution. Currently the monitor it self could be reached from the outside, while the build servers are only accessible in the intranet. In this situation the image urls would break. To be consistent the avatar images have to be forwarded by the monitor.

[2016-08-18 07:55] LeoHuckvale commented on #25
Yes, I hadn't considered that - I guess you'd rather not be storing images anywhere.

Similar problem outlined [in this Stack Overflow question](http://stackoverflow.com/questions/32960113/displaying-private-s3-images-in-node-express-app) - the solution seems to be to have a route on the server to dynamically obtain the image from the private source. I suppose in this instance you'd have to implem

[2016-08-18 11:10] marcells commented on #25
Thanks. That's exactly the way, I already considered how to implement it. ;-) I think, I will add a general option to turn this feature off. Maybe the avatar pics don't match to visual design of the monitor for some users. Now I just need time to implement it. ;-)

[2016-08-20 11:34] marcells commented on #22
I removed the jenkins-api module now, because the maintainer doesn't react on my pull request. The error with the bad response should now be handled properly.

[2016-08-20 11:34] #22 closed

[2016-08-28 16:51] marcells commented on #17
In the latest version, you can now define a notification filter (regular expression). If this filter matches to any of the build properties (e.g. project name or user name), you will see the notification, otherwise it will be omitted. There is also a red overlay in the favicon, when the builds changed (the filter is applied here, too).

[2016-08-28 16:51] #17 closed

[2016-08-28 19:22] Ralf1108 commented on #17
awesome !! :-)

[2016-10-17 01:32] rafaelmagu opened #26 "Display branch name and/or commit sha"
For builds that have either branch or commit details, we should display those on the board, for easier distinguishing between builds.

[2016-10-21 23:41] rafaelmagu commented on #26
Configurable from where? The commits would change constantly.

[2016-10-25 12:27] marcells commented on #26
Ah, okay. For which build system do you need this information?

[2016-10-25 19:27] rafaelmagu commented on #26
Currently, we're using a mixture of Jenkins, Travis and Wercker.

[2016-11-10 00:47] Sauraus opened #28 "Deprecated dependencies need a scrub"
Does anyone else get this list of warnings when running `npm install`?
[code]

[2016-11-10 17:13] Sauraus opened #29 "Teamcity integration broken with TC 10.0"
In TC 10.x `var requestFinishedBuilds = makeRequest.bind(this, getFinishedBuildsUrl());`returns a correct URL and also a valid data set, however the monitor still reports 0 builds found, any ideas what this could be?

[2016-11-10 20:53] marcells commented on #29
Hm, very strange. Do you see some information, when you activate the `debug` [flag](https://github.com/marcells/node-build-monitor/blob/master/app/config.json)?

[2016-11-10 20:56] marcells commented on #28
Thanks for the info. I'll update it, when I find some time.

[2016-11-10 21:14] marcells commented on #26
Sorry for the late response. Currently there's a lot of work for me in my day job.

The problem is, that the VCS, which trigger a build can be very different. Maybe in some of them a branch concept even doesn't exist. And I don't think that all or most of the build services support forwarding this information.

[2016-11-10 21:19] Sauraus commented on #29
Nothing :( just this:
[code]

[2016-11-10 21:26] marcells commented on #29
I've currently no TC instance running. Do you think you can try to find out
the error with some console.log statements in the TeamCity.js service?

If not, I can try to reproduce it. But that could take a bit longer.
Currently there's a lot of work in my day job. 😉

Antek Baranski <notifications@github.com> schrieb am Do., 10. Nov. 2016,
22:19:

[2016-11-10 21:27] Sauraus commented on #29
I will take a look at this yes.

[2016-11-10 21:28] marcells commented on #29
Great, thank you!

Antek Baranski <notifications@github.com> schrieb am Do., 10. Nov. 2016,
22:27:

I will take a look at this yes.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/marcells/node-build-monitor/issues/29#issuecomment-259812388>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/ABO1V1aPL3wA_hcd8

[2016-11-10 23:59] Sauraus commented on #29
Looks like the bug was caused by something `node` on my Raspberry Pi... :( The same code on OS X works out of the box.

[2016-11-10 23:59] #29 closed

[2016-11-17 13:06] snyk-community opened #30 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
* [Regular Expression Denial of Service](https://snyk.io/vuln/npm:negotiator:20160616?utm_source=gh_issue)
* Affected package: negotiator<= 0.6.0

[Here is the test report for this repo](https://snyk.io/test/github/marcells/node-build-monitor?utm_source=gh_issue).
If you’d like to fix this vulnerability, Snyk lets you generate

[2016-11-24 09:48] rengago opened #31 "VSTS support"
Team,

Do we have support for VSTS or  does tfs 2015  applies to vsts too ?

{
  "name": "Tfs2015",
  "configuration": {
    "url": "http://tfs-server:8080/tfs/DefaultCollection/TeamProject",
    "username": "domain\\buildadmin",
    "password": "buildadmin_password"
  }
}

[2016-11-24 10:06] marcells commented on #31
Hi,

please use the `Tfs` service (Visual Studio Online) for it.
https://github.com/marcells/node-build-monitor#visual-studio-online

Kind regards

[2016-11-24 10:06] #31 closed

[2016-11-24 10:30] rengago commented on #31
Trying to install  using docker

"name": "Tfs",
  "configuration": {
    "collection": "DefaultCollection",
    "accountname": "xxxx@mail.com",
    "username": "xxxx@mail.com",
    "password": "xxxxx"
}

VSTS url  https://xxxx.visualstudio.com

Error: The TFS Project Collection named DefaultCollection was not found.
    at /build-mon/app/services/Tfs.js:75:28
    at Request._callback (/build-mon/a

[2016-11-24 12:13] rengago commented on #31
Please can you let me know if i am missing something or any of my configuration has issues.

[2016-11-28 06:32] navrenga opened #32 "TFS Project Collection named DefaultCollection was not found."
Trying to install using docker

"name": "Tfs",
"configuration": {
"collection": "DefaultCollection",
"accountname": "xxxx@mail.com",
"username": "xxxx@mail.com",
"password": "xxxxx"
}

VSTS url https://xxxx.visualstudio.com

Error: The TFS Project Collection named DefaultCollection was not found.
at /build-mon/app/services/Tfs.js:75:28
at Request._callback (/build-mon/app/services/Tfs.js:23:21)
at

[2016-11-29 21:19] marcells commented on #32
Sorry for the late response. I see the issue. The configuration seems to be wrong.

1. The `accountname` is only the *xxxx* part of the url.
2. The `username` and `password` have to be created in the VS Online (login to https://xxxx.visualstudio.com -> hover over your avatar (top right) -> Security -> Alternate authentication credentials -> create the credentials)

[code]

Please let me know, if e

[2016-11-29 21:37] marcells commented on #32
I've updated the section in the Readme.md to make the necessary configuration steps more clear.

[2016-11-30 04:59] navrenga commented on #32
marcells,
Thanks for your response.
My config.json
{
  "monitor": {
    "interval": 300000,
    "numberOfBuilds": 12,
    "debug": false
  },
  "services": [
    {
      "name": "Tfs",
      "configuration": {
        "collection": "DefaultCollection",
        "accountname": "xxxxxx",
        "username": "xxxxxx",
        "password": "xxxxxx"
      }
    }
   ]
}

I am not getting any errors in do

[2016-11-30 20:04] marcells commented on #32
Silliy question. You have finished or running builds in your DefaultCollection? ;-) Cause I tried it and it worked for me. You could try to use a smaller interval. Maybe `10000` and set the debug flag to `true`.

[2016-12-01 02:03] navrenga commented on #32
yes you are right it is displaying no builds on setting debug. but in vsts 2015 i do have couple of projects and their build definitions  and also builds are running successfully in those projects.

[2016-12-01 02:38] marcells commented on #32
Hm, maybe you can try to set more console.log() calls in the service to
find the issue. With my account everything works fine.

Rengarajan <notifications@github.com> schrieb am Do., 1. Dez. 2016, 03:03:

[2016-12-07 07:03] marcells commented on #32
Did you find out what's going on here?

[2016-12-07 07:33] navrenga commented on #32
sorry for the late reply. Still No luck. I doubt this may be due to non XAML build defintion.

Similar example may be
https://teambuildscreen.codeplex.com/workitem/64629
https://teambuildscreen.codeplex.com/workitem/65108

[2016-12-07 09:31] marcells commented on #32
Oh, you're right. That could be. I think, I only tried it  with an old TFS 2013 on-premise and Xaml builds. Could you switch your builds to non-xaml? They are or will be deprecated in future.

[2016-12-13 04:20] navrenga commented on #32
After switching to non-xaml , Issue still persist.:(

[2016-12-13 04:53] marcells commented on #32
Hm, very strange. I think, I've exactly the same configuration as you.

You could try to query the build via OData (https://tfsodata.visualstudio.com/). If you get some results, when querying the builds, then it should work with the build monitor, too.

[2017-01-16 15:51] morph027 opened #35 "Filter branches"
First of all, thanks for your work!

Can we add the ability to filter branches somehow (we are using on premise Gitlab)? We want to monitor same branch on different slugs. Devs should keep an eye on their own branches locally ;)

[2017-01-16 21:55] marcells commented on #32
Is your issue solved in the meantime?

[2017-01-16 21:58] rengago commented on #32
No marcells. still helpless. I will try much more and reopen this case if this was actual issue to me.
Thanks for your help.

[2017-01-16 22:41] marcells commented on #35
Thank you. :-)

Hm, your request is similar to #26. I don't want to be dependent on the underlying VCS, cause the build-monitor is very common and should work for all build systems/configurations in the same way.

Maybe a general property `details.repository` with an object (which isn't displayed, but can be filtered) could be possible. I'll then extend the filter in the frontend to respect the va

[2017-01-16 23:19] marcells commented on #32
Okay, thanks for the info. I'll close it for now.

[2017-01-16 23:19] #32 closed

[2017-01-17 05:35] morph027 commented on #35
Thanks,sure, I'm gonna try this and let you know.

[2017-02-05 00:03] dickschoeller opened #36 "Jenkins jobs do not show Running status"
The Jenkins API returns a status of SUCCESS when builds are running. It is necessary to check the value of building to identify a running job. This impacts the calls to and implementation of getStatus and getStatusText in Jenkins.js.

[2017-02-05 00:07] marcells commented on #36
Hey, thank you for reporting the issue. Could you make a pull request with the fix? Otherwise it will take at least a week for me to take a look at the issue.

[2017-02-05 00:16] #36 closed

[2017-02-08 16:24] omerfarukz opened #38 "Can you please add support NTML authentication support."

[2017-03-14 13:31] freepee opened #39 "Problem to connect to on-premise TFS"
I have some problem connecting the build-monitor to our own TFS. In the config.json we have this:
`"services": [
 {
      "name": "TFS",
      "configuration": {
        "url": "http://q45tfs:8080/tfs/DefaultCollection",
        "username": "*****************",
        "password": "*********"
      }
    }
  ]`

Running with this configuration gives the following error message:

`{ Error: connect

[2017-03-14 20:04] marcells commented on #39
Just as an information. I made an IP address lookup. The IP range 168.61.0.0-168.63.255.255 is claimed by Microsoft.

So, now to your problem. You've accidentally used the plugin vor the Visual Studio Online service, instead of the on-premise service. If you're using TFS 2015 please use the plugin [Team Foundation Server (on-premise)](https://github.com/marcells/node-build-monitor#team-foundation-

[2017-03-14 20:59] marcells commented on #38
Could you please provide a bit more information?

[2017-03-14 22:47] omerfarukz commented on #38
Yes, we are using a team foundation system and can not use OAuth or basic authentication. We have only Ntlm. In this case we used node http/ntlm libraries and modified this library. So, we can easily integrated in our system a month ago. Thanks you.

[2017-03-14 23:13] marcells commented on #38
Is your change compatible and can you offer it as a pull request? So other people could benefit from it. Otherwise I would close this issue.

[2017-03-14 23:53] marcells commented on #30
Updated dependencies.

[2017-03-14 23:53] #30 closed

[2017-03-15 00:08] marcells commented on #28
Issue is now fixed with commit f2f32dc3f94212a7067bfb51b97759fc1a69f65c.

[2017-03-15 00:08] #28 closed

[2017-03-15 00:27] Sauraus commented on #28
@Brantone FYI

[2017-03-15 00:47] Brantone opened #40 "Cut new release?"
Hey,
Originally I was curious about cutting a new release for all the changes (if they're all completed), but then I also noticed that "latest" is still showing as 0.9.5 (https://github.com/marcells/node-build-monitor/releases) , whereas code is already up to 0.9.8 (and I assume latest changes will bump that up).
Thanks in advance.

[2017-03-15 08:58] freepee commented on #39
Thank you for take time to answer my request.

I not have the correct tfs2015-configuration with username and password (for now, not access token). But I get this error:

node-build-monitor is listening on port 3000
C:\code\node-build-monitor\app\services\Tfs2015.js:30
            for (var i = 0; i < body.value.length; i++) {
                                          ^

TypeError: Cannot read prop

[2017-03-15 20:22] marcells commented on #40
I only updated the version number, when something in the frontend changes. Cause then the web frontend reloads automatically, after the service is updated and restarted.

[2017-03-15 21:06] Brantone commented on #40
Initially, I was thinking less of an "automated version increment" and more just generic release of features (front or back end) and bumping https://github.com/marcells/node-build-monitor/blob/master/package.json#L3 based on something like semver.org

[2017-03-16 09:29] freepee commented on #39
Hi again

PS C:\code\node-build-monitor> node .\app\app.js
10:24:38 | Check for builds...
node-build-monitor is listening on port 3000
C:\code\node-build-monitor\app\services\Tfs2015.js:30
            for (var i = 0; i < body.value.length; i++) {
                                          ^

TypeError: Cannot read property 'length' of undefined
    at forEachResult (C:\code\node-build-monitor\app\s

[2017-03-16 09:30] freepee commented on #39
We have TFS 2015 so token is not the issue right now.

________________________________
Fra: Marcell Spies <notifications@github.com>
Sendt: 15. mars 2017 21:17
Til: marcells/node-build-monitor
Kopi: freepee; Author
Emne: Re: [marcells/node-build-monitor] Problem to connect to on-premise TFS (#39)

If you use TFS 2017, you have to generate an access token. That is described in the Readme, too.

Le

[2017-03-16 09:52] freepee commented on #39
Hi
I have fiddled around with Fiddler and when sending a request I get the response of an html-page with information that I don't have access.

` <body>
        <div id="header">
            <h1>Server Error</h1>
        </div>
        <div id="content">
            <div class="content-container">
                <fieldset>
                    <h2>401 - Unauthorized: Access is denied due to invali

[2017-03-16 10:43] marcells commented on #39
Hm, try removing the trailing `/` from the url setting. The rest of the configuration looks good as long as you do use Team Foundation Server 2015.
If that doesn't work you have to check with fiddler/postman, why you're not authenticated correctly.

[2017-03-16 15:23] freepee commented on #38
A NTLM-solution would be perfect for me to. My organization only supports Windows authentication.

[2017-03-17 13:57] abyss1 opened #41 "Last build seems to habe broken gitlab support"
So I noticed yesterday I had an issue updating my builds after restarting my container.

After some back and forth I found this :

[code]

I havent updated or changed anythign onthe gitlab side I only restarted the container. I did also try to rebuild the container locally but same result.

[2017-03-17 14:02] marcells commented on #41
Which version did you use before your update? Maybe you can take a look at the commits of the gitlab.js file, to see what has changed.

[2017-03-17 14:22] abyss1 commented on #41
no sure to be fair. I pulled it about a little over a week ago.

[2017-03-17 18:21] abyss1 commented on #41
I can sure. I can see about giving you access to the gitlab api output aswell.

[2017-03-17 19:58] marcells commented on #41
Thanks for taking a look at it.

I'll check how to tag each container with a version, when something changed. So, in future everyone can go back easily, if there are any issues.

[2017-03-20 20:21] marcells commented on #41
@abyss1 Is your issue fixed with pr #42?

[2017-03-21 01:02] marcells commented on #40
Now I easily can bump a version with `grunt bump`. This will also create a new [tag/release](https://github.com/marcells/node-build-monitor/releases) automatically. In addition for each tag a [separate docker image](https://store.docker.com/community/images/marcells/node-build-monitor/tags) is built. So, if there are any issues with a new version, you can revert it easily.

[2017-03-21 01:02] #40 closed

[2017-03-21 01:14] Brantone commented on #40
Awesomeness! 👍

[2017-03-23 10:00] abyss1 commented on #41
Jup works now, seems like the issue was related to the new base image in the end, but up and running again.

[2017-03-23 10:00] #41 closed

[2017-03-23 10:31] marcells commented on #41
In future you can revert easily to the old version, cause the docker images are now versioned.
See: https://github.com/marcells/node-build-monitor/issues/40#issuecomment-287945362

[2017-05-23 14:37] gabriel-card opened #49 "GitlabCI showing wrong build status."
Hi!
I just caught a tiny problem in the GitlabCI support. As you're fetching for jobs (as the GitlabAPI v3 only supports a /builds/ route) and not pipelines (not supported in the GitlabAPI v3), if I'm running a pipeline with the last stage having multiple jobs running, the status of the pipeline will show up in the monitor as the status of the last completed job in the stage, instead of the status

[2017-05-31 06:30] johannesvaltonen commented on #41
Hi. I am receiving exactly the same exception, the difference being that there was 1 build found. This is my first time trying out this build monitor with our GitLab instance.

Here's the censored output:
[code]

Any advice on how to start debugging this?

[2017-05-31 19:56] marcells commented on #41
Hm, try to make a `console.log(build)` in Line 11 of `app/monitor.js`. Looks like there is a strange result returned from the GitLab service.

If `build` is null or something like this then you have to take a deeper look at the `app/services/GitLab.js` file and check why it returns wrong "builds".

[2017-06-01 06:16] johannesvaltonen commented on #41
Yes, `build` is null there. I fiddled with the configuration, and actually noticed that this error occurs only when I have set `latestBuildOnly` to `true`. With `false` everything works fine.

I tried to debug a little further. In `GitLab.js` I never got a response from `requestAllPages`. The callback from the request never got invoked. I don't know how to continue from there... Any ideas?

[2017-06-09 20:02] sahilNaranSzn1106 opened #50 "Can't add buddybuild"
I keep getting this error when trying to add a buddybuild to the config file
[code]
The service in the config file:
[code]

[2017-06-17 12:58] marcells commented on #49
Hi, I did not implement the GitLab service. ;-) Maybe @datakurre can help you.

[2017-06-17 13:00] marcells commented on #50
Hi @sahilNaranSzn1106, could @sanjusoftware help you to resolve the issue?

[2017-06-17 15:11] datakurre commented on #49
@gabriel-card Hi, you are correct that it's kinda broken now, but it still works well enough that I have not found time to upgrade it for the new API. Contributions are welcome.

The main difficulty in GitLab plugin was (at least at the time of writing) that each project had to be queried separately, which takes tile when you have hundreds if not thousands of projects to track. All that just to ge

[2017-06-19 04:48] sahilNaranSzn1106 commented on #50
@marcells nope!

[2017-06-19 05:16] sanjusoftware commented on #50
sorry @sahilNaranSzn1106 .. I'll have a look at this today .. was away for some time.

[2017-06-19 05:29] sahilNaranSzn1106 commented on #50
@sanjusoftware thank you!

[2017-06-19 05:36] sanjusoftware commented on #50
@sahilNaranSzn1106 the problem is that you are providing the appid in the buddy build URL itself.. remove that and make it likr following:

[code]

In case, you are trying to make it for nultiple buddybuild apps, then omit the app_id totally and have the following:

[code]
Let me know if that works for you

[2017-06-20 02:26] sanjusoftware commented on #50
@sahilNaranSzn1106 did the solution work for .. if it did, can we close this issue?

[2017-06-20 04:05] sahilNaranSzn1106 commented on #50
@sanjusoftware I am busy testing it out now.

[2017-06-20 04:18] sahilNaranSzn1106 commented on #50
@sanjusoftware Now it says that it cant read property branch of undefined

[2017-06-27 10:32] pascalberger opened #51 "Add support for TFS release management"
It would be nice to have the possibility to show the status of TFS (2017) releases beside status of builds.

[2017-06-28 18:36] marcells commented on #51
Hi @pascalberger,

nice idea. Do you think you could implement this and make a pr? If not, I can try to find some time. But it could take a little bit.

Kind regards

[2017-06-29 09:13] mikestichling commented on #39
@freepee Did you solve your problem?

I found this same issue when authenticating against our on-premise TFS server. Eventually I tracked it down to having Basic Authentication turned off.

[2017-07-24 17:44] karthik-krishnan opened #54 "An option for multiple Configuration"
Typically in Enterprises, there are multiple groups of projects monitored and hence each group would have a page for itself.  It would be great if one can have multiple config json files and a unique url to render the dashboard based on the specific config.

This allows for us to have multiple tabs in browser (one for each group) and switch them on a timer.
In the current implementation of the nod

[2017-07-24 18:35] marcells commented on #54
Hi, sounds like a very good idea. This could be an easy, but breaking change for the build monitor configuration. I'll think about, how to implement this.

[2017-07-26 23:05] marcells commented on #54
I've made a quick implementation in the [feature branch multi-configuration](https://github.com/marcells/node-build-monitor/tree/feature/multi-configuration). There are still several things to do (client settings, refactoring, concept for naming the groups, ...). Maybe you can take a look at it and tell me, if it is working in the way you imagined.

[2017-07-27 17:18] karthik-krishnan commented on #54
That was really fast :) .  Will spend sometime between today and saturday
to check out this branch.  Really appreciate your help :) . I am hoping
that I can contribute to this efforts as well by doing my bit.

Best regards,
Karthik Krishnan.
http://karthiks.in

On Wed, Jul 26, 2017 at 7:05 PM, Marcell Spies <notifications@github.com>
wrote:

[2017-08-01 17:33] arunkumarsundaramurthy commented on #49
Looks like its still showing the wrong status.. Not sure of api v3.. but with v4 we can get the status of the pipeline.. also the status is not fetched at pipeline level.. its fetched at job level.. so multiple jobs are appearing on the monitor instead of one pipeline.. if no one is working on it, i can go ahead and fix this and give a PR..

[2017-08-01 17:40] arunkumarsundaramurthy opened #55 "latestBuildOnly not working for all services"
Looks like if the latestBuildOnly flag is set.. only the first build is considered.. this will work fine for services like Travis where we have only one slug.. but for services like gitlab where we have option to specify multiple slugs.. this feature is broken..

[2017-08-01 18:29] datakurre commented on #49
Please, do. I haven't had jne time to lookup the new apis yet.

On 1. elokuuta 2017 klo 20.34 +0300, Arun Kumar Sundaramurthy <notifications@github.com>, wrote:

[2017-08-01 21:14] marcells commented on #55
Hm, you're right. Is it an option for you to create a configuration for each slug instead of using the wildcard?

[2017-08-01 21:21] marcells commented on #54
Thank you. Maybe you can give me some input. I'd like to implement an easy solution first. If possible, without breaking changes for existing solutions.

[2017-08-03 02:55] karthik-krishnan commented on #54
Hi Marcell,

I see the config.json now having multiple monitors, which is cool.  Where
do we specify the top level properties like app port etc.(i think its not
there in config.json now, unless I did not notice).

Also, how do I launch the URL?  Is it a query param to say which monitor ?

My colleague Arun has forked your project and had incorporated few bug
fixes and style changes for our use.  I

[2017-08-03 17:12] karthik-krishnan opened #57 "Gitlab build displaying all JOBS, while the intent for a monitor is the state of a specific Branch"
Typically,  If I have a Branch(say Master Branch), am interested to know the state of the branch at a given point(after every commit).  However, for Gitlab, it shows all the jobs that are scheduled, so if I have a branch, which has 2 commits(one causing an issue and the other subsequently fixing it). It would end up as two Jobs and the build monitor displays both of them.  Say one is Green and the

[2017-08-03 22:58] marcells commented on #57
Hm, the build monitor should show each build of the configured project(s). Maybe this configuration could be a solution for you: https://github.com/marcells/node-build-monitor/pull/33

If I misunderstood your issue, please let me know it.

Kind regards
Marcell

[2017-08-04 12:13] karthik-krishnan opened #58 "Gitlab to use pipeline api instead of job api"
Since Build Dashboard monitor is really interested in reflecting the current state of a specific branch and not really the "latest build(job)" in a specific branch, it would be useful to use the pipeline API to reflect the same.  The API is
/api/v4/projects/<project_id>/pipelines?ref=master

I will make the necessary changes and raise a pull request as well soon.

[2017-08-05 14:37] marcells commented on #54
Hi,

sorry for the late response.

1. The port is defined by the PORT-environment variable.
2. The configuration is now an array of monitor configurations, instead of a single object. If you have multiple configurations (monitors) and you launch the main page of the build monitor, you'll see a list of all available monitors, which links to each monitor. The links have the following schema: `http:/

[2017-08-05 14:40] marcells commented on #58
Does the pull request #59 solve your issue, when it is integrated? Please be aware of it, so that you don't run into any conflicts.

[2017-08-05 14:57] karthik-krishnan commented on #58
Yes. Arun raised the PR.

Best regards,
Karthik.
Sent from my iPhone 7+

[2017-08-05 15:53] #58 closed

[2017-08-05 15:53] marcells commented on #58
Fixed in pr #59.

[2017-08-06 17:15] kub1x commented on #22
Hey, @marcells, just to let you know, I started helping with the [node-jenkins-api](https://github.com/jansepar/node-jenkins-api) and managed to add the PRs and much more. If you're willing to give it a try, the project should be pretty much "alive" now.

[2017-08-06 22:44] karthik-krishnan commented on #58
Hi Marcell,

I had raised PR #60 and 61.  It would be great if you could review the same.

Best regards,
Karthik Krishnan.
http://karthiks.in

On Sat, Aug 5, 2017 at 11:53 AM, Marcell Spies <notifications@github.com>
wrote:

[2017-08-06 23:43] marcells commented on #22
Thanks for the info. But for now everything ist working fine and the api calls aren't top complicated. So, I won't change it. 😉

[2017-08-15 17:50] prune998 opened #64 "improving Gitlab-CI display"
I have two features I would like to have in the gitlab-ci plugin.

1) Gitlab-CI have different stages during a build, like "test", "build", "deploy". The interface is not showing this information.

2) beeing able to display only a number of builds per project.
For now I'm displaying all the builds for "stared" projects. Let's say I display 10 builds and I try to build "project A" 11 times, I will

[2017-08-16 07:24] AlexKel commented on #64
I'm too interested in the first feature requested here (pipeline stages display). If one of the stages failed it's really handy to see which one straight away. I might be able to contribute if I'll find some free time.

[2017-08-17 10:13] AlexKel commented on #55
Yeah, this is definitely not working.. A workaround is to create a service object for each slug.

[2017-08-17 15:28] CodeFarmer opened #65 "Crash when Gitlab service can't determine commit"
`C:\Users\UKJGL01\node-build-monitor\app\services\GitLab.js:101
            return job && job.commit.author_name;
                                    ^

TypeError: Cannot read property 'author_name' of undefined
    at getAuthor (C:\Users\UKJGL01\node-build-monitor\app\services\GitLab.js:101:37)
    at simplifyBuild (C:\Users\UKJGL01\node-build-monitor\app\services\GitLab.js:83:31)
    at C:\Users

[2017-08-29 13:52] fireclay opened #66 "Can't add gitlab"
I apologize if this is the wrong place to ask this!

I am trying to use this tool with Team City and Gitlab.
It works great for Team City but it does not show any results from Gitlab.
Can someone please give some idea what I am doing wrong?
I don't quite understand the "slugs" field so that's probably the problem?

We're using GitLab Community Edition 8.6.3 and the link to the project I want to se

[2017-09-03 10:59] marcells commented on #66
I'm not using the GitLab service. Maybe @arunkumarsundaramurth or @datakurre are able to help you here.

[2017-09-03 11:03] marcells commented on #65
Hm, strange. Did it work before? Were you able to resolve that issue or is it still active in the meantime? Maybe @arunkumarsundaramurthy has an idea. Recently he made some changes there.

[2017-09-03 11:04] marcells commented on #57
Can this issue be closed?

[2017-09-03 11:06] marcells commented on #55
I'll close this issue right now. The workaround should be enough for most of the people who need this case.

[2017-09-03 11:06] #55 closed

[2017-09-03 11:07] marcells commented on #50
@sahilNaranSzn1106 Can this issue be closed now?

[2017-09-03 11:10] marcells commented on #49
Was the issue fixed with PR #53?

[2017-09-03 11:13] marcells commented on #39
I'll close this issue for now. We use(d) it with TFS 2015 and 2017 and it is working well. Fell free to reopen the issue, if it is still a problem for you.

[2017-09-03 11:13] #39 closed

[2017-09-03 11:17] karthik-krishnan commented on #57
Yes. Thanks.

Best regards,
Karthik.
Sent from my iPhone 7+

[2017-09-03 12:25] #57 closed

[2017-09-03 15:54] datakurre commented on #66
Just url and token should be enough for displaying all projects for which the token has read access to.

[2017-09-03 17:23] datakurre commented on #49
I assume not. I recall that my initial implementation, before pipelines were implemented nor available through API, displayed one on-going build per branch (the one with last start date) and then the status of the last build – that's also why it still mostly shows the correct status. I don't see changes for that in #53.

I tried to look the new API docs, but still see no improvement for asking sta

[2017-09-03 17:32] marcells commented on #49
Hm, okay. So what will we do now with this issue? ;-)

[2017-09-03 18:35] datakurre commented on #49
Wait for someone to have time to fix it :) I should have a day for stuff like this later this month (fingers crossed).

[2017-09-04 03:49] sahilNaranSzn1106 commented on #50
yes

[2017-09-04 05:24] sanjusoftware commented on #50
Alright then... @marcells, I think you'll have to close it then... I don't have the rights

[2017-09-04 05:46] #50 closed

[2017-09-04 06:55] fireclay commented on #66
@datakurre Thank you, I tried that but it did not help.
Will the tool create an error log somewhere?

[2017-09-04 07:51] sanjusoftware commented on #66
@fireclay the configuration looks fine ... I have tried similar conf on my gitlab privately hosted account and it works fine .. is there any specific error that you are getting? The only reason I can think of why you are not able to see any builds (if thats the case) is that the `additional_search` might not be resulting into any builds at all....

can you try first just removing the `additonal_qu

[2017-09-04 14:11] fireclay commented on #66
@sanjusoftware Thank you for your reply!
I don't get any specific error, I just can't see any builds from gitlab. I tried removing everything except token and URL and it did not help so I don't think the `additional_search` is the problem.  Perhaps our IT department has blocked using the Gitlab REST API. I will ask them!

I am not familiar with curl at all. Could you write a more detailed descript

[2017-09-05 02:33] sanjusoftware commented on #66
@fireclay that could be a reason, however, I think you can grab the errors by looking at the server logs ... what do you see there?

[2017-09-05 05:48] fireclay commented on #66
@sanjusoftware Can you describe how to check the server logs please?

[2017-09-05 08:41] sanjusoftware commented on #66
@fireclay it actually depends how you are running your service... if u r running it in a container, the you'll have to get in the contaner and then look at the logs at the console... it you are running it directly on command line, then the logs are printed on the standard output ... its better to ask your admin who is running the service

[2017-09-07 08:09] #38 closed

[2017-09-13 05:49] fireclay commented on #66
Hi, thanks all for your suggestions.
I give up now, I guess something is blocked in our gitlab instance.

[2017-09-13 05:49] #66 closed

[2017-09-15 15:04] modulexcite opened #69 "Does this work with TFS Git Repos"
Hi,

I've an **on-premise TFS 2015 server** and was wondering if this works with the git repositories on TFS. Currently, I've the following configuration in my `config.json` but can't seem to get it to work. Any help on this is greatly appreciated and I apologize if this is already documented somewhere.

node-build-monitor version: v0.9.21
TFS : 2015 on-premise
Client OS: Windows 7 x64
[code]

[2017-09-18 15:27] ddetoni opened #71 "Bitbucket Pipelines support"
Hi,

Anyone else looking for a [Bitbucket Pipelines](https://bitbucket.org/product/features/pipelines) support? Bitbucket Pipelines is getting better, but right now there is no way to have build monitors. The REST API seems good enough to us build an integration.

Any thoughts on this?

[2017-09-20 16:03] marcells commented on #71
Hm, currently not. Feel free to create a new service and make a PR. You can use the TFS 2015 service as a template.

[2017-09-20 16:07] marcells commented on #69
It's working for Git Repos, cause we use it internally in our company. The build configuration is independent of the version control. The first configuration looks wrong. The last two should work. You could try to remove the `authentication` lines.

[2017-09-22 14:24] lochsh opened #72 "TeamCity service only supports individual build configs, not projects."
On TeamCity, build configurations can be organised into projects.  We can get information about the project, including it's status (e.g. SUCCESS or FAILURE) using [this API call](https://confluence.jetbrains.com/display/TCD10/REST+API#RESTAPI-ProjectSettings):

`https:/teamcity-server/app/rest/projects/ProjectID`

The project status is SUCCESS if all of the build configurations in the project are

[2017-09-22 14:51] lochsh opened #73 "TeamCity service doesn't show if build configurations are paused"
It would be useful to have an indication of whether a TeamCity build configuration is paused (i.e. all triggers have been disabled, so the CI test isn't currently active).

If a test passes and is then paused for a long time, it can be misleading for the build monitor to show it as successful.

The TeamCity service gets information about specific builds in time, which doesn't give us any informati

[2017-09-23 14:53] marcells commented on #73
Hey @lochsh, originally the build monitor was intended to show builds. If I understand you correctly, the build itself isn't paused, but the configuration is. So, the gray color could be misleading and will affect all builds belonging to the configuration.

Maybe you could write another service (e.g. TeamCityConfigurations.js) to list all configurations and their state. Feel free to make a PR. ;-)

[2017-09-23 15:01] marcells commented on #72
You can write a custom theme for the build monitor. Could this help you for the space problem?

If it doesn't help, then I would recommend to create another service (e.g. TeamCityProjectsOverview.js), which lists the whole project status instead of build status. Mixing it with the current service makes it too complicate, cause that are different use cases.

Can all properties (id, project, definit

[2017-10-02 18:25] lochsh commented on #73
Thanks for getting back to me @marcells, I've been on holiday so sorry for the late response!
Adding another service sounds like a good way to tackle this :)  I'm not very experienced with JavaScript, but I'll definitely have a go once I have time and come back from my holiday.

[2017-10-03 07:01] ntamas commented on #65
The pull request referenced above shows a workaround for this issue.

[2017-10-03 07:02] ntamas commented on #64
We also needed this so we have implemented this in our fork: https://github.com/milinnovations/node-build-monitor/commit/3d13b3f09ed088b26652a2b90f7660b780808e6d

[2017-10-03 09:11] #65 closed

[2017-10-03 13:02] marcells commented on #64
Closed with pr #75.

[2017-10-03 13:02] #64 closed

[2017-10-03 13:04] ntamas commented on #64
Note that my pull request did not handle point 1 from the original issue, i.e. this one:

Maybe it would be good either to leave this issue as open or create a new issue separately.

[2017-10-03 13:05] prune998 commented on #64
Will create another issue for point 1.
Thanks.

[2017-10-03 13:16] prune998 opened #76 "Add the name of the Gitlab "stage" in each job"
Gitlab-CI have different stages during a build, like "test", "build", "deploy". It also have the notion of an environment, like "dev", "uat", "prod"....

The interface is not showing this information.

Please add this information in each job when using Gitlab backend.
It could be added next to the repository name ?

[2017-10-03 13:16] prune998 commented on #64
added as https://github.com/marcells/node-build-monitor/issues/76

[2017-10-04 15:42] ntamas commented on #26
Let me add my two cents here. In my organization, it would also be desirable to show the branch name and/or the commit SHA on the build monitor. The way I plan to implement it in my fork is to add extra properties (`branch` and `commit`) to the build object that is returned from, e.g., `simplifyBuild()` in `GitLab.js`, extend the `BuildViewModel` with the appropriate Knockout observables and then

[2017-10-04 16:32] datakurre commented on #76
Does the current version look different from above, which does include stage?

![node-build-monitor](https://user-images.githubusercontent.com/160447/31187352-52ae5e60-a93a-11e7-8d51-524c21ed6d45.png)

(commit user stripped from image)

[code]

[2017-10-04 18:10] marcells commented on #26
@ntamas Thanks, I'm fine with the change. But the UI of the theme should look nice, even if there is no commit/branch info available. In a later change, I could maybe add the info to the default theme.

[2017-10-04 18:11] marcells commented on #26
Maybe issue #76 could be resolved with that change, too.

[2017-10-04 18:23] ntamas commented on #26
Agreed - that's why I'm not incorporating the commit/branch info into the default themes; I leave it up to you to decide how these should be shown.

I think the environment is not included in the [response](https://docs.gitlab.com/ce/api/pipelines.html#get-a-single-pipeline) provided by the GitLab API, and the names of the pipeline stages need another request (see [response example here](https://d

[2017-10-05 06:03] marcells commented on #26
Alright, thanks for that info.

[2017-10-05 09:55] aborderon opened #79 "0 buils founds with GitLab"
Hello,
I have a small problems to run node-build-monitor with GitLab.
I use Docker in production, so I have a Dockerfile and a config.js like :

[code]

but I have no results on the website and in my docker logs I get :

$ docker logs --tail all node-build-monitor

For information, my Gitlab uses a self-signed certificate.

Thank you for your help ;)

[2017-10-21 11:35] marcells commented on #79
@datakurre Do you have any idea what could be wrong with the configuration?

[2017-10-23 19:32] marcells commented on #79
@aborderon Could you try to debug the app to see what could be wrong?

[2017-10-24 20:48] nicksterx commented on #39
I don't think it works with NTLM authentication. I get the same error that @freepee was getting about the 401 unauthorized.
my config.json
[code]

[2017-10-25 02:06] ddetoni commented on #71
Thanks, I tried here #81. Please some feedback.

[2017-10-25 02:06] #71 closed

[2017-10-30 09:44] aborderon commented on #79
Yes @marcells , I found the problem, this is the self-signed certificate that I use with Gitlab.

In the request.js, the `rejectUnauthorized` property to `false` does not work.

I managed to access my GitLab builds by adding the line just below the exports module of GitLab.js but it is not an acceptable resolution :
`module.exports = function () {
process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"; `

[2017-10-30 19:42] marcells commented on #79
Hm, that's just an environment variable. Please remove your change from `GitLab.js` and try the following.

If you use the executable, just set it in your shell before starting the build-monitor. If you use docker, then take a look [here](https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e-env-env-file) how to define an environment variable.

Please let me know,

[2017-10-30 19:45] marcells commented on #69
@modulexcite Any news here? Otherwise I would close the issue.

[2017-10-30 20:56] modulexcite commented on #69
Sorry about that, I forgot to update I got it working. Please close it, thank you for your help.

[2017-10-31 03:22] marcells commented on #69
No problem. Nice to hear, that the issue is resolved for you.

[2017-10-31 03:24] #69 closed

[2017-10-31 08:02] aborderon commented on #79
Hello, thank you for your answer. I run node-build-monitor with docker with the following command and it work:

`docker run -d -p 3000:3000 -e NODE_TLS_REJECT_UNAUTHORIZED=0 --name node-build-monitor node-build-monitor`

It would be necessary to add documentation for self signed certificates I think.

I will try to make a pull request to adding docker-compose support. I would take this opportunity

[2017-10-31 08:02] #79 closed

[2017-10-31 08:32] marcells commented on #79
Nice to hear! I did update the docs right now. Feel free to make a PR for docker-compose support.

[2017-11-02 12:32] datakurre commented on #49
@gabriel-card Is this still valid?

I had time to look into this and noticed that GitLab integration was rewritten recently so this behavior prorably have changed. Maybe even fixed.

Unfortunately, because the new integration is not sufficient for us, I could only fix this into my fork https://github.com/datakurre/node-build-monitor/tree/datakurre-custom and will stop monitoring the official versi

[2017-11-02 18:59] gabriel-card commented on #49
@datakurre I think it's still an issue, but i'm not using it anymore.
A team from our company decided to build a monitor themselves, and we're using it since. Don't know if they made it opensource, I can ask monday though.

[2017-11-02 19:19] datakurre commented on #49
@gabriel-card Ok. Thanks. Maybe this should be closed then until someone can reproduce.

We are happy with node-build-monitor. It was very easy to extend. Our only issues have been due to GitLab CE’s API making it difficult to track builds for all the projects on it, but we are happy with our current fork now.

[2017-11-03 20:42] marcells commented on #49
@gabriel-card Sorry to hear that node-build-monitor wasn't suitable for you.

@datakurre Does it make sense to reintegrate your changes into the main project? Are there any disadvantages, beside complexity, or major changes necessary?

[2017-11-04 00:46] gabriel-card commented on #49
@marcells Sorry if it came out that way, by no means it wasn't suitable. We were actually using it despite this minor problem. We did not change because of that, we just wanted to support their work. It was done as a hackaton project, and we have this thing that we always try to use everything we make out of those hackatons.
This is a nice project and nicely build, keep it up! =)

[2017-11-04 09:11] Esysc commented on #49
I agree, this is a great project I was looking  for a long time . Then, if somebody needs custom hack ,  it doesn't  mean the project lacks some features,  actually some environments are not standard and we need to adapt.

[2017-11-05 20:25] datakurre commented on #49
@marcells The current rewritten GitLab CI integration is simper, cleaner and therefore easier to maintain than my version, so I actually recommend keeping it. I suppose it works well for gitlab.com and small installations. But if someone reports performance issues with that, then you can ping me. It's well possible that meanwhile GitLab creates better API for making it easier to find "global" new

[2017-11-05 20:39] marcells commented on #49
Allright. Thank you for your information. I'll close this issue now.

[2017-11-05 20:40] #49 closed

[2017-11-07 13:29] fireclay commented on #79
Can I somehow set NODE_TLS_REJECT_UNAUTHORIZED=0 when running the standalone version?

Or can you update the standalone version with this setting?

I tried setting it as a Windows environment variable but I still get 0 builds found...

[2017-11-07 20:47] marcells commented on #79
Hm, that should work. At least for the Linux build I tested it.

Did you set it on cmd with `set NODE_TLS_REJECT_UNAUTHORIZED=0` before starting node-build-monitor.exe from the same cmd session?

[2017-11-08 06:47] fireclay commented on #79
Hi Marcells, thank for your reply!

Yes I tried that and the variable is printed and set to 0:
[code]

Now I instead get "check for builds.." and "node-build-monitor is listening on port ... " but there is no message about number of builds?

With version 9.2 I get
[code]

[2017-11-08 07:02] marcells commented on #79
So there was a response with 0 builds now. Could it be, that your configuration is wrong?

[2017-11-08 12:09] nitr8 opened #84 "TFS 2017 Unexpected token"
Hiya I have been struggling with this for some time now. I have tried stand-alone and node both.

We using TFS 2017 latest patches = only non stock on setup was SSL and NTLM (TFSConfig Authentication /provider:NTLM /siteType:ApplicationTier)

[code]

This is the output
[code]

im also running non SSL on 8080 so tried that and also with / without NTLM also went back to lab box withs stock TFS 2017

[2017-11-08 20:57] marcells commented on #84
Hm, okay. We use it with TFS 2017 and http/8080 without Ntlm.

It seems like the request returns an unexpected error page, instead of a json object.

Could you try to debug into the request and post the response here?

[2017-11-09 07:04] nitr8 commented on #84
Hi marecells,

Thanks for the feedback.

Its using the correct url (I added 80 / 443 in addition to 8080)

http://de-tfs-01/tfs/Source/Products/_apis/build/Builds?$top=30 is what its calling and when i visit that url i get the json obect and its valid - see image bellow.

![out](https://user-images.githubusercontent.com/541890/32592471-264ef77a-c524-11e7-8009-0f6bb3b5a732.png)

Here is it with som

[2017-11-09 07:27] marcells commented on #84
That's really strange. Something has to be different. Maybe the authentication.

Can you output the whole ich content of the response body (starting with `<!DOCTYPE html PUBLIC`) of node-build-monitor?

[2017-11-09 14:29] nitr8 commented on #84
Hey marecells,

Thanks for all your help on this i really appreciate it :) so here is the response body from node-build-mon vs curl.

[code]

curl -v http://de-tfs-01/tfs/Source/Products/_apis/build/Builds?$top=30 --ntlm -u CORP\\a.myaccount
[code]

so i have no idea why curl gives me a 401 first but then a 200 with the relvant payload.

[2017-11-09 18:42] marcells commented on #84
Hi, sure, I'll help you. We have to check what's going on there.

Are you sure, that you're using the correct password?

Could you compare the request headers for the node-build-monitor requests and the curl request with Fiddler? Could you use it without NTLM, too?

[2017-11-17 18:36] Grifplex opened #85 "body.value undefined"
I'm getting the following error for our on-site TFS2015 build server. I get this with the latest release for windows, linux, and directly running from node on a Raspberry Pi.

[code]
Have I not configured it correctly?
It exits with this error with the several valid log-ins I have tried and for all my projects that I am able to view from a browser at the given url.
[code]

[2017-11-18 02:00] marcells commented on #85
Hi,

your configuration looks correct to me. Could you write a `console.log(body)` in line 27 and post the output? Maybe the same in line 80 would be helpful, too.

Kind regards

[2017-11-28 01:58] Grifplex commented on #85
From `console.log(body)` I get the following in the body of an HTML page:

I have also outputted the URL being requested into chromium on the pi and I get a log-in prompt followed by a proper JSON string of the builds using the same credentials in the config, so I don't know why it wouldn't work in the node-build-monitor.

[2017-11-29 07:15] byatis opened #87 "Does it work with VSTS?"
Hi!

It seems to me that node-build-monitor doesn't work with VSTS at all. Have I misunderstood something? It tries to get proxy settings when using TFS.js but as per instructions there aren't any. If  I change the TFS module to use direct url, it tries to use tfsodata.visualstudio.com which doesn't exists anymore.

Maybe this should be changed to use the REST API?
https://stackoverflow.com/questi

[2017-11-29 09:10] marcells commented on #87
I have to check this. Thanks for the hint.

[2017-11-29 09:17] byatis commented on #87
Hi! I forked this project and made VSTSRest simple plugin, you can see it here:
https://github.com/byatis/node-build-monitor

It works using Personal Access Tokens and you can define queries quite flexible. Not tested much yet though.

Feel free to merge it and develop further if you want. :)

[2017-11-29 09:17] #87 closed

[2017-12-13 14:41] timaschew opened #90 "TypeError: pipelines.slice is not a function"
I cloned the repo today and then configured with our GitLab server.
It worked for a couple of hours, but then I got this error:

[code]

[2017-12-14 21:08] marcells commented on #90
Hm, do you have more information about the issue? Maybe some output, why pipelines is not an array.

@ntamas Do you have an idea?

[2017-12-15 09:02] ntamas commented on #90
I suspect this might have been a temporary hiccup on GitLab's side and the API response was malformed. I can add a type check [here](https://github.com/marcells/node-build-monitor/blob/master/app/services/GitLab.js#L45) so we don't try slicing the `pipelines` array if it is not really an array. Would that be OK?

[2017-12-16 12:10] marcells commented on #90
Yes, if the issue occurs due to a strange behavior of GitLab, then it's okay to implement it.

[2017-12-16 15:04] timaschew commented on #90
I don't know how to find out that out, is there a debug mode?

[2017-12-16 20:18] ntamas commented on #90
It's hard to tell - the [API documentation](https://docs.gitlab.com/ee/api/pipelines.html#list-project-pipelines) for the corresponding method does not tell whether the response is always an array, but judging from the example I thought it would be safe to assume so. Since this is clearly not the case, I think it's best if I just add that check. I'll file a PR soon.

[2017-12-17 11:00] #90 closed

[2017-12-17 12:25] marcells commented on #90
A new version is on the way.
https://github.com/marcells/node-build-monitor/releases/tag/v0.9.32

Thank you, @ntamas.

[2017-12-17 18:59] carltonmason commented on #54
@karthik-krishnan  suggestion is excellent.   Perhaps instead of a separate unique page/tab per monitor, have a single page with a column per configured monitor job.  That way you can see them all on the same page by looking left to right and scroll down for build history.

[2017-12-27 17:08] mrMagicCod3r opened #93 "Gitlab slugs - support for subgroups"
Hi, first of all, great dashboard!
I'm testing it with Gitlab and Jenkins and noticed there is no simple way to filter "team" projects out of Gitlab.  We use subgroups and when I specify slug like "my-team-group/*" I end up with only direct group projects. Other, nested in subgroups of this group are not visible in dashoard. So I coded such support by myself.

I fixed it that way:

In Gitlab.js

I

[2017-12-27 18:33] marcells commented on #93
Hi,

thanks. Nice that you like it.

Yes, please make an optional configuration entry for this functionality and put it in the documentation, too.

I don't have a running GitLab instance where I could test it. So please make a PR.

Kind regards

[2017-12-28 22:20] mrMagicCod3r commented on #93
After some thinking I have slightly different idea. Instead of additional property I can add support for double asterisk in slug wildcards. It will work unix-like, so /** will include projects from current and any nested groups while /* will remain the same - only current projects, no nesting.

Quoting bash * manual:

Here is my WIP code:

[code]
What do you think? Also any feedback on my code is

[2017-12-30 16:19] marcells commented on #93
Yes, as long as it works and produces no side effects with existing configurations the idea sounds good. ;-)
I don't know how the GitLab plugin works, cause the extension was not developed by me.

With `grunt ci` you can check the unit tests and if you violate against the coding style.

Just make a PR and I'll review it. ;-)

[2018-01-04 16:32] wideklev opened #96 "Bug running in kubernetes"
Hi!
Thanks for having a very good plugin. We run the build-monitor in Kubernetes keeping track of Gitlab builds.

Every once in awhile (Like once a week or so) the gitlab monitor runs blank and the following can be seen in the logs:
[code]

The pod is not restarted or considered corrupt so it stays in this state until the pod is recreated.
If there is any other information I can provide, please le

[2018-01-04 20:20] marcells commented on #96
Looks strange. Maybe some kind of a network issue.

Could you configure the container to restart automatically, if it fails as a quick solution?

Otherwise maybe some retry-mechanism is needed.

[2018-01-04 20:24] marcells commented on #96
This bug was fixed in release v0.9.32. You are using v0.9.27. Please update to the latest version.

If there are still any problems, please reopen this issue.

[2018-01-04 20:24] #96 closed

[2018-01-05 11:13] Kuipers opened #97 "Hide Gitlab projects without gitlab-ci configuration"
Hi, this build monitor does help us a lot!

We have Gitlab with a lot of repositories. And are moving to gitlab-ci builds. So not all projects have valid configurations to show. And not all projects will have one.

Can we hide the projects which don't have a pipeline configuration when using */* to select all projects?
Now the projects without a pipeline configuration are shown gray with `<repro-n

[2018-01-05 20:42] marcells commented on #97
@ntamas Do you know, if that os already possible? Or could that be implemented?

[2018-01-06 22:33] ntamas commented on #97
Hmmm, I cannot really reproduce the issue on my side. Projects without a configured pipeline should simply not appear in the monitor at all.

@Kuipers Does this happen also when you specify a single project in the configuration file that is known _not_ to have a pipeline configuration, or does it happen only with wildcard matches?

[2018-01-09 12:33] Kuipers commented on #97
This is the configuration which produces blocks like the image below:
![image](https://user-images.githubusercontent.com/1266198/34720850-9c813d58-f540-11e7-82f7-2c7bf6288019.png)

[code]
The project is hidden like you said if I add the warehouse project to the config file like this:
[code]

[2018-01-09 14:30] ntamas commented on #97
Hmmm. Is it a self-hosted GitLab EE instance? I suspect that the API calls somehow behave differently from the GitLab instance at https://gitlab.com which I use for testing, but I cannot figure out how. Can you post the responses for the API requests fired at the following URLs:

* `/api/v4/projects/XXXXX/pipelines` for some project ID where there are configured CI jobs
* `/api/v4/projects/XXXXX/p

[2018-01-09 15:25] Kuipers commented on #97
First of all thanks for the quick response!
We are using a self-hosted Gitlab-CE instance.

Some version info:
[code]

Output of the project with a pipeline `/api/v4/projects/697/pipelines`:
[code]

Output of the project without a pipeline `/api/v4/projects/693/pipelines`:
[code]

It looks like the requests for the specific projects are OK than. But I don't know how to make this call for all proje

[2018-01-09 19:53] ntamas commented on #97
Okay, so the only way I can reproduce an output similar to yours on my machine is when I deliberately "screw up" the pipeline IDs received for a project (e.g., by adding 1 to the pipeline ID after having retrieved the _real_ pipeline IDs from the project). This leads me to think that in your case, GitLab probably reports that the problematic projects _have_ some pipelines, but it is not possible t

[2018-01-09 21:10] ntamas commented on #97
Here is a patch that you can apply to `app/services/GitLab.js` - this improves the error handling so we do not freak out for pipeline IDs for which the details are not available any more:

[code]

[2018-01-10 08:39] snapkr opened #100 "node-build-monitor stops working after error and did not recover"
Our setup:
- `node-build-monitor` with `GitLab 10.3.2-ee` on `Kubernetes 1.8`

What I saw:
After 5 days of normal operation, the `node-build-monitor` the HTTP endpoint resulted in a `504 Gateway Timeout`.  According to the applications log, an undefined error occurred (see below) and the docker container stoped serving traffic.

Log:
[code]

What I expected:
The application would go back to normal

[2018-01-10 12:11] Kuipers commented on #97
Thanks for the patch @ntamas! I will try to apply it so I can test it. But that will be tomorrow before I get some time.

However I don't think the project reply contains some pipelines.

The request for the specific pipelines with the id retrieved from the projects request is `[]`

How do you retrieve the pipelines? Is it by a wildcard or a walk over the json array retrieved by the projects reque

[2018-01-10 23:38] marcells commented on #100
Hm, looks like it is a bit difficult to reproduce. I also have no running GitLab instance. I'll try it with other services.

[2018-01-11 05:05] trondhindenes opened #102 "Allow tokens/secrets to be specified as environment variables"
awesome project! My only gripe is that the config model requires that a config file with secrets is baked into the docker image, which we try to avoid.
It would be awesome if values in the config.json file could be configed with references to envvars (for example)
[code]
For now we'll have to build our own image to inject secrets at run-time instead of build-time.

[2018-01-11 07:25] marcells commented on #102
Good idea. I'll think about it and try to implement it as a general solution.

[2018-01-15 14:31] ntamas commented on #97
Can you post the output of `/api/v4/projects/XXX/pipelines` for this particular project? (XXX should be the project ID).

[2018-01-15 23:22] marcells commented on #102
Implemented in https://github.com/marcells/node-build-monitor/releases/tag/v0.9.36.
Please check the `Readme.md`. The variable expansion feature is disabled by default.

Let me know, if anything doesn't work.

[2018-01-15 23:22] #102 closed

[2018-01-21 15:54] trondhindenes commented on #102
awesome!

[2018-01-31 04:03] marek-ganko commented on #54
Hi @marcells,
Any plans on merging this feature branch with multiple configurations to master?

[2018-02-01 09:58] marcells commented on #54
Hi, currently there is still some work to do. If someone could continue my (exprrimental) work of feature branch https://github.com/marcells/node-build-monitor/tree/feature/multi-configuration would be good. I have no time at the moment to continue active development of this feature.

[2018-02-15 03:05] NihalSh opened #105 "Visual Studio Team Services support"
I get an error when trying to use Visual Studio Team Services configuration as mentioned in the README. It gives me the following error.
[code]
Is VSTS support removed in the latest version?

[2018-02-15 07:25] marcells commented on #105
Please check your configuration. It looks like node-build-monitor tries to load the service 'VSTSRest', which does not exist.

[2018-02-15 08:26] NihalSh commented on #105
I checked the configuration. It is in the same format as the one given in [documentation](https://github.com/marcells/node-build-monitor#visual-studio-team-services).
[code]
Its giving this error because the file `app/services/VSTSRest.js` is missing. I checked the codebase too and that file is missing. I can make a pull request to fix it, if it is an issue. Am I missing something?

[2018-02-15 09:05] marcells commented on #105
Oh, you're right. Looks like an issue in the docs.

Please try to use Tfs, instead of VSTSRest as the name and let me know, if it's working for you.

[2018-02-15 09:44] NihalSh commented on #105
Now I get the following error.
[code]

[2018-02-15 11:14] marcells commented on #105
Hm, could you try, what result you get, when you query the following url (Headers: Accept: 'application/json') with e.g. Postman:

`'https://' + pat + '@' + accountname + '.visualstudio.com/' + accountname + '/_apis/build/builds?api-version=4.1-preview&branchName=refs/heads/develop&$top=10&maxBuildsPerDefinition=1`

Please replace the variables according to your configuration.

[2018-02-15 11:54] NihalSh commented on #105
I tried that and the response I get is an HTML page for sign in. Status `203 Non-Authoritative Information`.

[2018-02-15 14:43] marcells commented on #105
It looks like your accesstoken hasn't the correct permissions to query the builds. You have to check that. If the url from above returns results, then it should work.

[2018-02-15 15:04] NihalSh commented on #105
I wrote my own implementation of the service for VSTSRest. The URL I have used is similar but authentication token is passed in the header as BasicAuth. The URL is given below:
[code]
Can I make a pull request for adding it to the codebase?

[2018-02-15 15:13] marcells commented on #105
Sure, just modify the existing service. Thank you.

The configuration parameters don't change?

[2018-02-15 15:21] NihalSh commented on #105
The configuration parameters are a bit different. I had to add a few extra configuration parameters to make it work.

[2018-02-15 15:37] NihalSh commented on #105
I will make the pull request after I have documented the code.

[2018-02-16 06:35] marcells commented on #105
Okay. Thank you. I'll take a look at it then.

[2018-02-16 11:04] yoshgoodman opened #106 "Jenkins Error on retrieving builds"
`TypeError: Cannot read property 'slice' of undefined
    at /build-mon/app/services/Jenkins.js:58:46
    at Request._callback (/build-mon/app/services/Jenkins.js:31:17)
    at Request.self.callback (/build-mon/node_modules/request/request.js:186:22)
    at emitTwo (events.js:106:13)
    at Request.emit (events.js:194:7)
    at Request.<anonymous> (/build-mon/node_modules/request/request.js:1163:1

[2018-02-17 15:10] #105 closed

[2018-02-17 16:05] marcells commented on #106
Multibranch pipelines were not tested.

What Jenkins Server version do you use? I can try to reproduce it, but it could take a while, cause I'm off for serval days.

If you want to, you can also take a look at `app/services/Jenkins.js` and make a pull request.

[2018-02-19 08:04] yoshgoodman commented on #106
Thanks, @marcells we currently on `Jenkins ver. 2.104`

I will try to look at `app/services/Jenkins.js` but I have not had any node experience so don't expect much.

[2018-02-20 08:29] yoshgoodman commented on #106
Hi @marcells been trying to look at `app/services/Jenkins.js`

Seems as if Multibranch pipelines is a completely new build type.

In `requestBuildsForJobByUrl` `Jenkins` is not returning builds but rather `jobs`

You would need to refactor the whole file going forward. From my side, I don't have the knowledge to do so. So won't be making a PR.

Thanks for the awesome build monitor.

[2018-02-23 16:23] dickschoeller commented on #106
I was using curl to look at the returns from Jenkins with multibranch pipelines. If I give curl a path like  https://node/job/my-group/job/my-job/job/master/api/json I get back response that looks like what you get from a traditional job. So, it would seem 2 things ought to be supported.
1. Specify the top level and recurse in finding recent jobs.
2. Specify the path to a specific job.

Note that

[2018-02-23 16:51] dickschoeller commented on #106
I just found a typo in my own configuration file. So, specifying the path down to the specific branch build works. The only issue would be then, to support recursing from a parent to show recent builds on all of the branches.

[2018-02-25 19:32] marcells commented on #106
Alright. I'll take a look at it, if I find some time.

Do you think something like this would be a good configuration?

`job: myjob`
`job: myjob/branch`
`job: myjob/*`

I could then parse the job config with a regex and make the appropriate api calls.

[2018-02-26 14:42] xAaeEx opened #108 "VSTS Release Support"
Hi,

is it possible to get support for the releases too? I know there is a REST api for that in the docs of ms.
It would be awesome to get those informations in the dashboard.
[https://docs.microsoft.com/en-us/rest/api/vsts/release/releases/list](https://docs.microsoft.com/en-us/rest/api/vsts/release/releases/list)

[2018-02-26 14:55] dickschoeller commented on #106
Sounds workable to me.

[2018-02-26 18:49] marcells commented on #108
We already had that topic in issue #51. Feel free to implement it. I accept pullover requests. 😉

You could take a look at the tfs service (Visual Studio Team Services and on-premise). The implementation should be similar.

[2018-02-26 19:04] marcells commented on #51
Closed, cause if newer duplicate issue.

[2018-02-26 19:04] #51 closed

[2018-02-28 12:59] xAaeEx commented on #108
I added support for that and created a pull request [https://github.com/marcells/node-build-monitor/pull/109](https://github.com/marcells/node-build-monitor/pull/109)

[2018-02-28 18:04] xAaeEx commented on #108
@marcells sorry I saw your comment too late and added the file as **VstsReleases**

[2018-03-02 15:28] search8 opened #110 "Troubles connecting to TFS 2018 Update 1"
Hi
I'm trying to connect to TFS 2018 (Update 1) (which from my understanding shouldn't be much different than TFS 2017) but keep getting the following error:

[code]

From the error message it would seem my configuration is wrong, but I don't see what I'm missing:

[code]

I've set the access right accordingly and I'm able to connect with other build monitors. However I like this one better than t

[2018-03-02 15:44] marcells commented on #110
Hi,

you could try the `Tfs` Service (`Tfs2015` will be deprecated and removed in future). It was implemented recently by @NihalSh who had issues, too. Take a look at the conversion in issue #105.

Use "https://{domain}/{collection}" as the instance setting.
See the full docs for this service [here](https://github.com/marcells/node-build-monitor#visual-studio-team-services-and-team-foundation-serv

[2018-03-02 17:43] search8 commented on #110
Hi,

thanks for the answer, not sure how I missed that! I changed the config now but I'm getting a different error now:

[code]

The config I changed to this:

{
  "monitor": {
    "interval": 30000,
    "numberOfBuilds": 12,
    "latestBuildOnly": false,
    "sortOrder": "date",
    "expandEnvironmentVariables": false,
    "debug": true
  },
  "services": [
    {
  "name": "Tfs",
  "configuration

[2018-03-02 18:11] search8 commented on #110
I had a closer look at issue #105. When I connect with postman using BasicAuth as described with the following url it works:

https://${instance}.<tfsdomain>/DefaultCollection/${project}/_apis/build/builds?api-version=2.0${params}

So I don't know what the issue might be. Seems nodejs related and I don't know nodejs at all unfortunately.

[2018-03-02 19:30] #108 closed

[2018-03-02 20:12] marcells commented on #110
For the domain\user, you have to escape \ with another \. So you have to write domain\\user.

Does that change something?

[2018-03-02 20:15] marcells commented on #108
Fixed in PR #109.

[2018-03-02 20:57] search8 commented on #110
No unfortunately not, I had already tried that as well. When I connected with Postman I didn't even specify the domain. So I had tried with and without and also with one and two \.

In fact I'm not even getting an exception right now. It just says the following:

[code]

But I don't see what the error is.

[2018-03-02 22:08] marcells commented on #110
Hm, you could try to compare the requests made by postman with the requests made by the build monitor by using Fiddler.

Another try would be to set the env variable NODE_TLS_REJECT_UNAUTHORIZED to 0. (Only needed if you don't have a valid certificate)

Something has to be different. 😉

[2018-03-02 23:48] search8 commented on #110
Oh man, just had a look at the code, that helped :-) Should have done that at the beginning.
`https://${instance}/DefaultCollection/${project}/_apis/build/builds?api-version=2.0${params}`
The configuration was messed up after all. DefaultCollection is already part of the partial url and therefore can't be part of the instance. In addition I did not realize that queryparams would be a mandatory par

[2018-03-03 00:10] search8 commented on #110
Plus it would be really nice if it was possible to specify an optional api version. Because the current one is already api-version=4.1-preview and it is currently hard coded.

Other than that it looks great. Thanks for your efforts!

[2018-03-03 06:42] marcells commented on #110
Good to hear that it is working for you now. 👍

You're right. A hint in the docs would be good to know what's mandatory. I thought, that you have to define DefaultCollection, cause it could change. That has to be updated in the service implementation.

Changing the api version should not be allowed, cause there could be breaking changes and we want to be compatible to older tfs versions.

[2018-03-03 06:43] #110 closed

[2018-03-03 06:46] marcells commented on #106
@dickschoeller Do you want to make the implementation?

It will take some time until I can take a look at it in detail. I also have to setup and configure Jenkins first.

[2018-03-03 06:49] #93 closed

[2018-03-03 06:54] marcells commented on #85
Please try to use the new Tfs service. There are similar closed issues.

[2018-03-03 06:54] #85 closed

[2018-03-05 04:54] search8 commented on #110
True, the DefaultCollection could change.

Regarding the version I don't necessarily agree. I think an optional parameter would be great with the currently set version as fallback. That way I could use the newer api if I wanted to and you would still stay backward compatible. Now if I want to use the new api I have to fork the project and adjust it myself since it's hard coded. Doable but not idea

[2018-03-05 15:19] NihalSh commented on #110
I compared the two versions at a glance and there seems to be no significant difference at all. The only difference that could be spotted is in the URL formation and compatibility of version 2.0 with both TFS server and VSTS.

The docs for version 2.0 is at https://www.visualstudio.com/en-us/docs/integrate/api/build/builds and for version 4.1 preview is at https://docs.microsoft.com/en-us/rest/api

[2018-03-05 15:42] search8 commented on #110
You're right. I got mixed up with the Build and Release list. There's a flag latestAttemptsOnly so I thought the api had changed because I still have troubles getting just the latest build.

When I set maxBuildsPerDefinition=1 I don't get any builds in return. When I remove the flag completely it works. Not sure why that is. Did you ever experience that problem?

Sorry for the api confusion.

[2018-03-05 15:45] search8 commented on #110
I just read that I need to specify a list of definitions as well. So I'm going to try that.

If that's the case then maybe update your example as well. Because I just copied that and that doesn't seem to work.

`&branchName=refs/heads/develop&$top=10&maxBuildsPerDefinition=1`

Thanks.

[2018-03-05 15:59] search8 commented on #110
Ok, I just tested it. The params should look like this:

`&branchName=refs/heads/master&definitions=4,5,6,7&maxBuildsPerDefinition=1`

Turns out the Tfs service and api works just fine :-) Only the documentation could use some updating since it's pretty misleading in my opinion.

Thanks for all the help.

[2018-03-05 17:08] NihalSh commented on #110
I have made the pull request for this already so that the URL points to the correct version. I will update the information about the usage of `maxBuildsPerDefinition` along with `definitons`. Although I do think that information is better documented in the official docs, it may very well be redundant to add the info about `maxBuildsPerDefinition` here.

[2018-03-05 17:29] search8 commented on #110
Cool, thanks. Yeah either way is fine I guess. The api documentation is pretty good. It's just that the sample as specified did not work. So either remove the maxBuildsPerDefinition or add the definitions to it.

[2018-03-05 17:43] NihalSh commented on #110
Yeah, I realized that example was a bit misleading. The example has been updated in the pull request #111 . Thanks for pointing that out.

[2018-03-05 21:21] enigmatic commented on #106
@dickschoeller I'm not sure if this works for your case, but I updated my fork by adding a new "jobs" option for a job that contains more jobs

My server is [Enterprise version 2.89.4.2](https://release-notes.cloudbees.com/product/1) and the jobs are structured: /job/<github organization>/job/<repo>/job/<branch>

Thus my config looks like:
[code]

<github organization>/job/<repo>

[2018-03-05 21:23] marcells commented on #110
Do you know if the same informationen is valid for the TFS release api?

If yes, I will update the docs for this service, too.

[2018-03-06 14:29] NihalSh commented on #110
For TFS release API there is no option for `branchName` and `maxBuildsPerDefinition`. Those are only for TFS build API. So the example for queryparams should be modified to avoid confusion.

[2018-03-06 19:25] marcells commented on #110
I did update the docs and made the collection configurable (only for the Tfs service) now.

@NihalSh Could you tell me, if my changes are correct?
The commits are 696b55a1b5b48b725e735939b964202323f5cf81 and 994ec8728e93161d4ac802434581faa9d916f384.

[2018-03-06 21:04] trondhindenes opened #112 "clarify teamcity docs"
According to the docs, the teamcity integration needs a "build configuration id". Since this is something attached to each project it doesn't make sense - I would assume that node-build-monitor is able to monitor all builds on a teamcity server and not just a single one? I've tried setting it to "*" but that didn't do anything. It would be great if configuration items were clarified (both in terms

[2018-03-06 21:17] trondhindenes commented on #112
From what I can see in the code, it looks like it's requesting a certain "id"
`/httpAuth/app/rest/buildTypes/id:' + self.configuration.buildConfigurationId +` but that kinda doesn't make sense, as the default should be to list all build configs? Teamcity's rest api is flexible enough to support some filtering, but not when the `id` slug is a hardcoded part of the request url.

[2018-03-06 21:56] marcells commented on #112
We have to keep the option to specify a concrete build configuration. It could be that someone only wants to get one of hundreds configured builds on the server.

What we could do is allowing to omit the build configuration id config parameter. In that case we return all builds. So we are compatible to existing setups of the build monitor.

I don't have a Team City instance running. Do you want to

[2018-03-07 05:29] NihalSh commented on #110
https://github.com/marcells/node-build-monitor/commit/994ec8728e93161d4ac802434581faa9d916f384
There is no way to configure the collection in version 2.0 API, it should always be `DefaultCollection`. API 4.1-preview has removed `DefaultCollection` altogether, and there is no separate configuration for collection. If people try to configure it the API call may fail, the commit may need to be revert

[2018-03-07 09:21] marcells commented on #110
I wonder, how they could remove the collection parameter. On Tfs Server you can create multiple collections and e.g. give a project the same name in different collections.

Alright, thanks. No, I never tested the TfsRelease service. We need to upgrade to Tfs 2018 first, I think. In these docs I looks, like it should work.
https://www.visualstudio.com/en-us/docs/integrate/api/rm/releases

[2018-03-07 11:35] trondhindenes commented on #112
I guess I'm a bit surprised that given other users of this project (from other issues I can see that there's at least a few teamcity shops) that this hasn't come up before. I'm simply not able to understand how this could work at all without a configuration block per project (We have about 200 of those) :-|. I'll take a closer look at this.

[2018-03-07 13:42] NihalSh commented on #110
I haven't worked with Tfs Server, so can't say much on that. Maybe for API collection name would become part of the project name itself. It would depend possibly on how Tfs Server exposes the URL for each project.

In the overview section of the docs, it says the same thing for Tfs 2015 (version 2.2-preview.1). Tfs 2018 could possibly support the new version of the API. The docs are not very clear

[2018-03-07 17:31] marcells commented on #112
You are right. It's up to the implementation of the plugin how it can be configured. If there wasn't a need before, so it could be that it was not implemented yet for TeamCity.

The code of the TeamCity service is quite straight forward and has just 160 LOC. I can try to implement it, too. But this could take some time, cause I need to setup and configure a TeamCity instance.

[2018-03-07 17:38] marcells commented on #110
We are currently working with TFS 2017 and can modify the collection part of the URL. So I think that's a valid parameter even if it is not described in the documentation.

So, I think it should work. If someone has issues then the implementation simply has to be changed. ;-)

[2018-03-08 10:53] pascalberger opened #113 "API version for TfsRelease service should be configurable"
Currently the API verison for TfsRelease service is [fixed in the code](https://github.com/marcells/node-build-monitor/blob/master/app/services/TfsRelease.js#L136).

As this might change, and TFS On-Prem has a lower API version it would be nice to be able to configure it.

[2018-03-09 18:02] marcells commented on #113
It should not be configurable, cause the API could return different information in a different structure which has to be handled in the code.

[2018-03-09 18:04] marcells commented on #113
Maybe we can switch it to an older API version. So we are compatible to the on-premise TFS and VSTS.

Could you try this and make a PR?

[2018-03-15 17:45] search8 commented on #113
I was just going to write the same thing. I had mentioned this before for the Tfs service as well. You can default back to whatever version you guys want to support when no version is specified, but since you're allowing to pass along any query string one could want, it does not make sense to hard code the version in my opinion. Currently only 4.0-preview is out for TFS which does not allow me to

[2018-03-19 20:29] marcells commented on #113
The problem is that if a newer api version is defined the response could be invalid, too. We can make it configurable, but we need to keep a default value for it. If anyone changes the api version it is not guaranteed that the service will work.

[2018-03-19 21:55] search8 commented on #113
Yes, exactly. Have a fallback for when it's not specified but allow to overwrite it. Just like you guys did for the collection in the Tfs service: Collection name. Defaults to DefaultCollection.

[2018-03-22 00:36] meeces2911 commented on #113
@search8 what version of TFS are you running, because as far as I've been able to tell, this particular API is currently only available in VSTS.
Which means even if you were able to specify your own api version, it still wouldn't work for you.
Seems like the Deployments API is in version 4.1 and above.

[2018-03-23 14:54] search8 commented on #113
We are running TFS 2018 update 1. 4.0-preview works for the release api. I just verified that again.

[2018-03-23 16:41] search8 commented on #113
It only seems to work with version 4.0-preview when you add the Collection to the api path as well, even though the specification does not mention that (it also seems to be for VSTS only).

https://www.visualstudio.com/en-us/docs/integrate/api/rm/definitions

I got it to work like that:

https://<server>:443/DefaultCollection/P3/_apis/release/deployments?api-version=4.0-preview&definitionId=3&defi

[2018-03-23 17:34] search8 commented on #113
As far as the dates go I think I'll have to use "lastModifiedOn" for finishedAt and "startedOn" for startedAt. All the other dates are not set for one reason or another (queuedOn) or not even available (completedOn). Not sure how compatible that will be with VSTS. Maybe I'll just push the changes to my fork instead of creating a pull request.

[2018-04-02 22:13] marcells commented on #113
If you send me a link then I can check it. I have a VSTS account. You can create one for free, too, if you want to.

[2018-04-03 12:33] Vatrax opened #118 "GitlabCI 'manual' status support"
When pipeline is waiting for manual action it has default (gray) color.

 I suggest that it could be green, like success, but with warning.

[2018-04-03 17:02] marcells commented on #118
I think green is misleading, cause the build could be aborted while waiting for an action.

I would propose the running color (blue). Or a new color for it.

[2018-04-04 05:16] Vatrax commented on #118
OK, but on the other hand manual is optional step, so often builds will finish with this step.

[2018-04-05 05:15] Vatrax commented on #118
it's 'manual'

[2018-04-10 01:11] cisum-la opened #120 "Add GoCD support"
Add GoCD support and add documentation about it to the README

This will be very useful to us as we are using GoCD

[2018-04-10 01:12] cisum-la opened #121 "node-build-monitor not installing on Mac"
node-build-monitor not installing on Mac

I installed the Mac version but it does not appear to be a dmg and downloaded as a Text file instead.
Please clarify how to install it on a Mac.

[2018-04-10 15:24] laughingMan commented on #121
`chmod +x node-build-monitor-macos`
`./node-build-monitor-macos &`

[2018-04-10 16:08] marcells commented on #121
Thanks, @laughingMan. Same on Linux. I will update the docs.

[2018-04-11 01:07] cisum-la commented on #121
Thanks for the info - it worked.

[2018-04-11 01:10] cisum-la commented on #120
Is there any documentation around how to add support for a new server type - in my case GoCD
I looked around the code and it appears i need to create a new file GoCD.js in /app/services folder
and add support similar to e.g. jenkins or travis
Do you guys support cctray parsing?

[2018-04-12 00:09] marcells commented on #120
That's exactly the way to do it. Just take a look at the implementations in the service folder.

What is cctray parsing?

[2018-04-12 00:11] marcells commented on #120
Ah, I see. No, currently cctray isn't supported.

[2018-04-14 10:57] marcells commented on #121
Added Info to readme in commit 2a2bcc608ac472970bd77df587fdb3f71303cd59.

[2018-04-14 10:57] #121 closed

[2018-04-14 11:00] marcells commented on #118
Maybe we can do the following. If it's on manual state and running, then we display a blue color. And if it's in manual state and finished then we display the green color.

What do you think?

[2018-04-16 06:50] Vatrax commented on #118
Sounds great

[2018-04-16 11:27] marcells commented on #118
I don't have a running GitLab service.

Could you implement the change and make a PR?

[2018-04-23 13:30] gas421 commented on #85
Hello, I'm having exaclty the same issue: TFS2015 on premises, even the credentials are fine body.value is undefined.

The only solution is to migrate to new TFS ?

[2018-04-23 22:06] marcells commented on #85
No, you don't have to upgrade your TFS server (but it would be a good thing, cause it contains lots of new features).

You could try to use file:///android_asset/md/#visual-studio-team-services-and-team-foundation-server.

[2018-04-24 12:27] gas421 commented on #85
I tried to use the node-build-monitor with a TFS 2015 on premises, with and without NTLM adding some console.log to debug:
- the TFS URL printed is correct
- the credentials are correct (double checked)
- authentication with and without "ntlm"
- NODE_TLS_REJECT_UNAUTHORIZED set 1 and 0
- config is correct:

{
  "monitor": {
    "interval": 30000,
    "numberOfBuilds": 12,
    "latestBuildOnly": fa

[2018-04-28 11:57] marcells commented on #85
You configuration looks correct (slug isn't needed, but shouldn't lead to an error).
`NODE_TLS_REJECT_UNAUTHORIZED` is only needed if you use HTTPS with a self-signed certificate.

Could it be that you forgot the domain in the username? Did you escape the backslash between domain and username correctly (two backslashes)?

[code]

[2018-04-28 12:38] marcells commented on #85
You can also use the [Tfs service](https://github.com/marcells/node-build-monitor#visual-studio-team-services-and-team-foundation-server) (not Tfs2015). It uses the REST Api version 2, which should be compatible with TFS 2015 (see [compatibility matrix](https://docs.microsoft.com/en-us/vsts/integrate/concepts/rest-api-versioning?view=vsts)).

I made it compatible right now to use it with TFS on-pr

[2018-04-30 08:16] gas421 commented on #85
Thanks for the replies.
I have the domain in the credentials.
I tried already with Tfs service in the past but I was not able to generate the "pat" from TFS2015.
Is the pat available in TFS2015?

[2018-04-30 08:43] marcells commented on #85
As I had written, in TFS 2015 PAT is your account password. Starting with TFS 2017 you have to create a PAT with special permissions for each use-case.

[2018-05-01 07:12] MBERoxit opened #124 "Error: getaddrinfo ENOTFOUND https https:443"
I get this error trying to connect to a VSTS instance. I configured it just like described. Is this a bug?

{ Error: getaddrinfo ENOTFOUND https https:443
    at errnoException (dns.js:28:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:76:26)
  code: 'ENOTFOUND',
  errno: 'ENOTFOUND',
  syscall: 'getaddrinfo',
  hostname: 'https',
  host: 'https',
  port: 443
}

[2018-05-01 09:44] marcells commented on #124
Hm, how does your config look like? You can anonymize the account name and PAT.

[2018-05-02 14:55] Grifplex commented on #85
IT has upgraded our TFS to TFS2017 Update 3 RTM have tried this again from an Ubuntu system after installing node v8.11.1. When using Tfs2015 pugin I get a response of:
`TF400813: Resource not available for anonymous access. Client authentication required.`
using either password or pat and with Tfs plugin it crashes:
[code]
or
[code]
or
[code]

[2018-05-02 16:14] marcells commented on #85
Take a look at the [readme](https://github.com/marcells/node-build-monitor#team-foundation-server-20152017-on-premise):

Use that [token](https://docs.microsoft.com/en-us/vsts/accounts/use-personal-access-tokens-to-authenticate?view=vsts) as the password.

[2018-05-02 16:16] marcells commented on #85
In the last to code snippets there was an error `Error: listen EADDRINUSE :::3000`. That means, that the build-monitor was already started and the port in use.

[2018-05-02 18:37] marcells commented on #85
Very strange. Could you try the `Tfs` (not `Tfs2015`) service? The[ configuration](https://github.com/marcells/node-build-monitor#visual-studio-team-services-and-team-foundation-server) is slightly different. The Tfs2015 plugin is deprecated and will be removed in future.

Please let me know, if it works for you.

[2018-05-02 19:03] marcells commented on #85
Ah, okay. Could you try to inspect the requests/responses with [Fiddler](https://www.telerik.com/fiddler) or Wireshark? It's very strange, that you receive the number of builds, but no further information.

[2018-05-02 20:18] Grifplex commented on #85
I am seeing an HTTP GET request for all 269 build definitions and responses following are proper JSON.

[2018-05-02 20:29] Grifplex commented on #85
When using `"queryparams": "&$top=10"` instead of blank the following error occurs even though the initial query for builds and response contain valid JSON seen by WireShark.
[code]

[2018-05-04 20:25] jadekler opened #125 "Add a port option"
3000 is frequently blocked

[2018-05-04 22:37] marcells commented on #125
That's possible. Just set the session environment variable `PORT` before you start the build monitor. Or Set it in the `docker run` command.

[2018-05-04 22:41] marcells commented on #85
Hm, I have to check this issue by testing it on a on-premise instance. I will respond, when I find some time for it. Maybe this weekend or during the upcoming week.

[2018-05-04 22:47] jadekler commented on #125
Ah, great! Thanks!

[2018-05-04 22:47] #125 closed

[2018-05-11 16:14] marcells commented on #85
I tried it on our production server right now and it worked as it should. I did use the following configuration:

[code]

[2018-05-11 17:27] marcells commented on #85
Could you post a sample of the data which is returned by rest call? I've no idea what's happening there.

[2018-05-11 19:33] Grifplex commented on #85
[top30.txt](https://github.com/marcells/node-build-monitor/files/1996629/top30.txt)

[2018-05-12 13:46] marcells commented on #85
I provided a fix right now for your issue. The builds could be mapped to the build monitor format and were visible now. But I did comment out all subsequent requests (`get_previous_build`, `merge_builds`, `get_build_steps`). So, it could be that there are some issues, too. Also try to set `showBuildStep` to false/true and see what's happening.

[2018-05-14 13:06] marcells commented on #85
I made another update regarding the `options.url = ...` assignment issue you mentioned above.
https://github.com/marcells/node-build-monitor/releases/tag/v0.9.47

Please let me know, if the service is working for you now.

[2018-05-14 21:10] Grifplex commented on #85
I have turned both `includeQueued` and `showBuildStep` to false. I'm still getting the `Data must be a string or a buffer` error:
[code]

[2018-05-15 15:30] bstrac77 opened #126 "TeamCity Compatibility"
Do you know if there are any issues with the build monitor and TeamCity 2017.2.2 (build 50909)? I'm unable get my builds to display. Not sure if it's an authentication issue? I have my server configured for Basic HTTP authentication and I've successfully issued a GET to the server's API using the full URL for a specific configuration (see example below).

http://username:password@tc-server:8111/ht

[2018-05-18 14:03] bstrac77 commented on #126
After more troubleshooting, it seems to only be an issue with certain builds and is most likely a problem with my TeamCity server.

Great app! Thanks!

[2018-05-18 14:03] #126 closed

[2018-05-19 08:13] marcells commented on #126
Thank you. 😉

[2018-05-29 18:15] ssonger opened #127 "Allow latestBuildOnly to be configured at service level"
It would be great if the "latestBuildOnly" setting could be set or overwritten at the service level. For example, we have a mix of Travis-CI and TFS builds. We set the latestBuildOnly to be true. While this works great for Travis-CI since each service is a separate project/app, for TFS we found that we only got one build back even though we included several build definitions in queryParams string.

[2018-05-29 20:47] marcells commented on #127
Yes, good idea. Do you mind implementing a `latestBuildOnly` configuration in the Travis service? Then you could remove it from your global configuration. I'll review and merge your PR.

[2018-06-05 13:51] LukeFieldsend-GS opened #130 "GitlabCI not finding new builds once running"
setup:
node-build-monitor running in docker container, targeting hosted gitlab-ci

config:
`{
    "monitor": {
      "interval": 30000,
      "numberOfBuilds": 50,
      "latestBuildOnly": false,
      "sortOrder": "date",
      "expandEnvironmentVariables": false,
      "debug": true
    },
    "services": [
        {
            "name": "GitLab",
            "configuration": {
              "url

[2018-06-05 18:28] marcells commented on #130
I took a look in the GitLab service and I see, that there is some projects state saved in [line 205](https://github.com/marcells/node-build-monitor/blob/2607c264ae5a44f01c93c7d4773d461f677acdd9/app/services/GitLab.js#L205).

I don't have a running GitLab instance here. So maybe you could remove that cache, if it is possible. Do you think you could do this?

[2018-06-06 08:52] LukeFieldsend-GS commented on #130
Hey @marcells definitely can, I give it a go and rebuild now

[2018-06-06 13:30] LukeFieldsend-GS commented on #130
@marcells I've got a fix for the issue and a branch ready for pull request. do I have to be invited to contribute to have permission to push the branch

[2018-06-14 05:19] nishantbakhrey opened #136 "Compilation error"
C:\node-build-monitor-master>node app/apps.js
module.js:549
 throw err;

Error: Cannot find module 'express'
       at Function.Module._resolveFilename (module.js:547:15)
       at Function.Module._load (module.js:474:25)
      .....
      .....
      .....
      .....
      .....
      .....

Can you please help me in solving this error, I'm new to this tool.

[2018-06-15 16:45] marcells commented on #136
You have to run `npm install` first.

[2018-06-15 16:45] #136 closed

[2018-06-15 16:45] marcells commented on #136
Or download the release from GitHub like described in the README.md.

[2018-06-15 16:46] marcells commented on #130
Sure. Just make a PR. I'll review it and will merge it.

[2018-06-15 16:48] marcells commented on #127
Closed in #128.

[2018-06-15 16:48] #127 closed

[2018-06-15 16:49] #124 closed

[2018-06-18 09:38] LukeFieldsend-GS commented on #130
@marcells  no problem, https://github.com/marcells/node-build-monitor/pull/138

[2018-06-21 15:55] #130 closed

[2018-06-21 15:55] LukeFieldsend-GS commented on #130
Fixed merged

[2018-07-16 08:12] #84 closed

[2018-07-27 13:02] aborderon opened #140 "Stops after a certain time of operation"
Node build monitor stops after a certain time of operation.
Here's what I have in the logs:

[code]

[2018-10-25 06:38] pascalberger opened #144 "Add support for AppVeyor"
It would be nice to have support for [AppVeyor](https://www.appveyor.com/) builds.

[2018-10-29 14:53] pascalberger opened #149 "Wrong link for TFS releases"
Links for TFS releases are wrong. They go to `https://{server}/{collection}/{project}/_apis/Release/releases/{id}` instead of `https://{server}/{collection}/{project}/_release?releaseId={1}`

[2018-10-31 15:23] #100 closed

[2018-11-09 17:57] wmilton211 opened #155 "How to run monitor with Travis service on Mac?"
Trying to hook it into Travis for the last week..cant find any documentation on how to activate it, how it points to Travis with creds/no creds or URLs to your GitHub account and how to troubleshoot common problems.

[2018-11-09 18:40] marcells commented on #155
Hi,

please take a look at the Readme.md. All information about the general and service configuration can be found there.

Kind regards

[2018-11-09 19:55] wmilton211 commented on #155
Hi, Marcells
I appreciate you getting back so quickly. I’ve read the Readme.md exhaustively and tried to set this up approx. 7 times with not an ounce of success. I’ll just give you a quick rundown of issues for me:

-Downloaded the Mac version and unzipped it
-Put it in the Documents folder - Created a config.json (and put it in the same folder with the Mac version) with the following contents:
 

[2018-11-10 08:54] marcells commented on #155
Hi,

at first, your config is incorrect.

According to the description in the Readme it should look like:
[code]

(You can completely ignore the `url` and `is_enterprise` setting, cause it defaults to the values you want to use)

After that, please follow the steps described here: https://github.com/marcells/node-build-monitor#run-the-standalone-version-easiest-way

Kind regards
Marcell

[2018-11-10 17:35] marcells commented on #155
Alright, thank you. I'll close the issue now.

[2018-11-10 17:35] #155 closed

[2018-12-11 17:35] donahcandia opened #157 "Bitbucket Support for Team projects"
Hi,

I am currently working on integrating node-builder-monitor with our Bitbucket repositories. Our repositories sits on a team project. Would it be a good solution to override some of the function on the Bitbucketpipeline.js or there are other ways to access the team project?

Here is our situtation: we have team projectB when we configure it on the config file it only asked for the username and

[2018-12-15 13:15] marcells commented on #157
Hi, I don't understand your question completely. But it sounds that you could extend the existing service by your needs (don't break existing functionality).

[2018-12-18 18:03] 030 opened #158 "basic auth in bitbucket not supported if 2 factor authentication is enabled"
https://developer.atlassian.com/bitbucket/api/2/reference/meta/authentication#basic-auth

[This ](https://github.com/marcells/node-build-monitor/blob/cb60cc7721999cd70dccd62b2f8199e5f22fdcc3/app/services/BitbucketPipelines.js#L14)snippet indicates that basic authentication is the current login method:

When an AppPassword is used, it seems to be able to check the status of the build, but when the

[2018-12-18 18:11] 030 opened #159 "How to get started paragraph could be improved"
We only had to run:

`docker run -v ~/config.json:/build-mon/app/config.json -p 3000:3000 marcells/node-build-monitor`

to get started

Also, why does the docker-compose file contain a `build: .`? It is not needed to build it. Just mounting the config seems to be sufficient.

[2018-12-20 10:43] 030 opened #161 "helm chart"
I would like to deploy the container in k8s, but there is no helm chart.

[2018-12-20 10:43] 030 commented on #157
@donahcandia Could you review the PR?

[2018-12-20 10:54] donahcandia commented on #157
@marcells  Sure will checked on it. Thank you.

[2018-12-22 11:17] marcells commented on #159
The intension of the structure of the docker container is, that you create your custom image with the config file included. After you did that you don't need to mount the config file into the container.

[2018-12-22 11:32] marcells commented on #157
Thank you. I made comments in the PR.

[2018-12-22 11:34] marcells commented on #161
That is quite a good idea, but I have no idea how to create helm charts. I only used them once. Maybe you can give me some hints how to start, then I will take a look at it.

[2018-12-22 11:36] marcells commented on #140
I've also no idea why this happens for some people. In the config above it looks like an issue of `forever`.

[2019-01-02 10:00] 030 commented on #157
@donahcandia the code has been merged. Could you test it?

[2019-01-08 11:08] 030 commented on #157
@marcells I think that this ticket could be closed

[2019-01-08 11:09] 030 opened #162 "Clicking on bitbucket link returns forbidden URL"
![incorrect-url-node-screen](https://user-images.githubusercontent.com/7524528/50827196-1ef84d00-133e-11e9-9941-6b1bde3fd9da.png)

The assumption was that the project in bitbucket would open, but instead an API call is done. Could you explain how it should work?

[2019-01-08 22:47] marcells commented on #157
Yes, right. Thanks for the hint.

[2019-01-08 22:47] #157 closed

[2019-01-08 22:49] marcells commented on #162
It looks, like the wrong url is returned by the service. There should open a new new tab with the build details.

[2019-02-04 16:54] trollr commented on #161
See #163

[2019-02-05 15:15] Jemimahk opened #167 "Azure DevOps and Team Foundation Server Builds Failing"
Hi,

I have followed all documentation but when it comes to execution I get the following error, how do I resolve this?

Printing environment Variables...
    PORT = unset (Default: 3000)
    NODE_TLS_REJECT_UNAUTHORIZED = unset (Default: 1)
node-build-monitor is starting...
{ url: '<my_url>',
  collection: '<collection>',
  project: '<project>',
  username: '<username>',
  pat: '<personalaccessto

[2019-02-21 19:04] marcells commented on #161
Thank you. It is merged.

[2019-02-21 19:04] #161 closed

[2019-02-21 19:06] marcells commented on #167
Hm, how does your config look like? In the debug output `collection`, `project`, `username`, `pat` ist empty. That could be the issue.

[2019-02-21 19:11] #158 closed

[2019-02-21 19:15] #118 closed

[2019-02-21 19:19] #159 closed

[2019-02-21 19:24] #26 closed

[2019-02-21 19:25] #97 closed

[2019-02-21 19:27] #35 closed

[2019-02-26 09:54] pascalberger opened #168 "Support splitting of configuration to multiple files"
It can be helpful to have the possibility to split the configuration to multiple JSON files. With a lot of builds in a build monitor the config JSON file can be quite huge and harder to maintain than multiple smaller files.

[2019-03-09 05:31] NithyaAhila commented on #162
{HostUrl}/builds/browse/{PlanKey} -> works for me.
Can you explain more about your issue if it still exists.

[2019-03-27 10:25] jimpouwels opened #169 "Status per build pipeline item or release pipeline item"
Hi,

I'm using the tool for Azure devops server builds and Azure devops release builds.

However, we're interested in showing the current build status per pipeline, instead of a list of build-runs of all pipelines.

Because now it's showing old red builds, whereas a later build was already green.

Is there a way to do this currently?

Regards, Jim

[2019-05-01 15:41] Alea81 commented on #140
We had the same issue, but PR #146 should fix this. (There where some unhandled exceptions) At least, we have no problem since then. Have you tried also that release or above?

[2019-05-07 16:24] 030 opened #172 "remove waffle badge"
https://waffle.io/closing-its-doors

[2019-05-07 16:29] 030 opened #173 "vulnerabilities"
![image](https://user-images.githubusercontent.com/7524528/57316428-0a627080-70f6-11e9-9f4f-4f5643765501.png)

Could a newer specific version be created with less vulnerabilities?

[2019-05-10 14:00] marcells commented on #173
I will take a look into it.

[2019-05-10 14:10] #172 closed

[2019-05-10 14:17] marcells commented on #173
Will be fixed in version v0.9.55, which I gonna release right now.

[2019-05-10 14:17] #173 closed

[2019-05-10 14:25] marcells commented on #168
That could be a larger change, cause the build monitor is looking for config files on several places. And the Dockerfile is also dependent on them for working correctly.

Maybe it can be done by automatically looking for the other configuration files next to the main configuration files. Or by "linking" from the main configuration file to them.

What do you think?

[2019-05-10 14:27] marcells commented on #169
Sadly I cannot answer the question, cause I did not implement the TfsRelease server. Feel free to contact the contributer or just take a look in the source code.

[2019-05-10 14:27] #169 closed

[2019-05-10 14:28] #167 closed

[2019-05-10 14:29] marcells commented on #162
@030 Can I close this issue?

[2019-05-10 15:12] pascalberger commented on #168
Having some kind of include statement which can be used in the config file could work fine for my use case

[2019-05-10 22:01] 030 commented on #162
@marcells Yes that is fine. I will close it now.

[2019-05-10 22:01] #162 closed

[2019-06-28 15:29] finlaybob opened #178 "Crash after running for about 15 minutes"
Using prebuilt `.\node-build-monitor-win.exe` on a Tfs (Azure DevOps) build definition
Seems to happen after about 15 minutes
[code]

Config as follows:
[code]

[2019-07-03 12:52] cambiph opened #179 "Ignore response with empty body"
Hello,

I have set up the monitor and I like it, except for one thing.
I noticed that Bamboo, from time to time, sends an empty body back for some builds.
We currently have no idea what is causing this but it causes some builds to disappear from the monitor for some time.

Is it possible to add a property `ignoreEmptyBody` or some sort that ignores an empty body and keeps the build result on scree

[2019-07-10 14:46] marcells commented on #179
Hi,

yes, that looks like a good solution.

Feel free to make a pull request.

Regards
Marcell

[2019-07-10 14:50] marcells commented on #178
Hm, strange. We use it for Azure DevOps server on the same way for a while and this issue never occured.

Do you have any idea what could cause this issue?

[2019-07-19 09:51] finlaybob commented on #178
Not sure. That specific error has not happened again since that day when it did it 3 times in a row.
I've now had it running for a good few days and not seen it.

[2019-07-22 16:59] kasperschnack commented on #79
Hi I'm having this same problem. The server is running but I can't see in any logs why no builds are fetched. Only output I git from docker-compose logs is this:

`docker-compose logs
Attaching to docker_node-build-monitor_1
node-build-monitor_1  | warn:    --minUptime not set. Defaulting to: 1000ms
node-build-monitor_1  | warn:    --spinSleepTime not set. Your script will exit if it does not stay

[2019-08-05 16:30] apollo13 commented on #140
We are also seeing this. No error on the console or anywhere, it just stops. We are using the latest docker build.

[2019-08-07 19:09] eichelkrauta commented on #178
I can look at this soon, but as a work around it seemed that us having the `showBuildStep` configuration as `true` was the cause for the issue. You can try setting `showBuildStep: false` in your config.json as a workaround

[2019-08-28 03:47] meeces2911 commented on #178
Whoops, looks like when a response returned from the build API wasn't one we were expecting the callback call made would break.
I've reworked all the callback calls in the buildSteps method to always return something (which they probably should have been to begin with) which should prevent this from happening.
I also added some additional logging so you can see things like 401 unauthorised errors

[2019-08-28 22:15] Grifplex opened #192 "Add number of failed tests for TFS Builds"
Could TFS Builds have the number of failing tests? This is the only feature that TeamBuildScreen had that I miss in your build monitor.

Thanks for the great monitor!

[2019-08-30 07:33] dreanor opened #193 "HTTP/HTTPS for TfsRelease should be configurable"
The TfsRelease service currently has a hardcoded https in the url. It would be nice if it could be changed like in the Tfs service where the entire server url is configurable.

This becomes a problem if a on-premises server is only running under HTTP.

[2019-08-30 12:19] maximelebastard commented on #18
See PR #186

[2019-09-04 02:29] meeces2911 commented on #192
Well that was more of a mission than it should have been now that Microsoft have redone their API docs. It should be possible by querying <tfs url>/_apis/test/runs?api-version=2.0&buildUri=<buildUri>.
Where the buildUri is found via the build API call and is in the form of vstfs:///Build/Build/<buildId>.
I'll see what I can do about adding it.

[2019-10-01 21:17] #178 closed

[2019-10-01 21:21] marcells commented on #193
This is a good idea, but would be a breaking change. If you want to, you can send a PR. I think not too many people should be affected.

[2019-10-03 14:40] #193 closed

[2019-10-03 17:45] pascalberger opened #195 "Create a release"
There were quite a few fixes and new services added since latest release. Would it be possible to cut a new release (to avoid needing to use latest tag of Docker image in production)?

[2019-10-06 13:55] marcells commented on #195
Hi,

I did create a new release.

https://github.com/marcells/node-build-monitor/releases/tag/v0.9.56

Kind regards

[2019-10-06 13:55] #195 closed

[2019-10-06 19:49] pascalberger commented on #195
@marcells Thank you very much. Really appreciated 👍

[2019-10-09 17:53] bobfang1992 opened #196 "Propossal: allow generic REST service?"
Hi, this might be a bit naive but is it possible to allow the monitor to query against any generic REST service and then just display the response?

For example a config can look at this:

[code]

The the monitor will periodically hit `mydomain.com/api/v1/is_service_okay` and then check the return value. It extract the result using `payload["status"]` as specified by the extractor (there might be

[2019-10-09 17:55] bobfang1992 commented on #196
https://www.npmjs.com/package/jsonpath for extracting fields...

[2019-10-13 10:50] marcells commented on #196
Hi @bobfang1992,

yes, you can implement this Service, if you want to. Just create the service in the `app/services` folder. You can take a look at `Tfs2015.js` for a simple implementation how a service looks like.

I think, that only a `extractor` setting is not enough. You need some kind of a field mapping, too. But you will see this, while implementing the service.

The generic build format for

[2019-10-14 16:29] Snaptags opened #198 "Influence tile layout by numberOfBuilds config setting"
Right now the number of tiles to be displayed per column and row is hard-coded via css. I would have expected some kind of dynamic setting based on the numberOfBuilds value in the config file. I just added a new theme to get MORE tiles on the screen without having a scroll bar: https://github.com/marcells/node-build-monitor/pull/197

But it would be much nicer to have a more dynamic tile layout. I

[2019-10-31 14:47] Mikie1974 opened #201 "TfsRelease api gives 404-not found"
The version of the api is now 5.0

and not _apis/release/deployments?api-version=4.1-preview  anymore

see microsoft document:  https://docs.microsoft.com/nl-nl/rest/api/azure/devops/release/releases/list?view=azure-devops-rest-5.0

[2019-11-04 13:59] darraghjones opened #203 "hasErrors is hard-coded to false for at least GitLab and Jenkins"
hasErrors is not set correctly. Therefore errorsFirst does not work correctly.

https://github.com/marcells/node-build-monitor/blob/master/app/services/GitLab.js#L103

https://github.com/marcells/node-build-monitor/blob/master/app/services/Jenkins.js#L172

[2019-11-11 13:05] snapkr commented on #140
Bump.
Same behavior for us. After approximately two days of operation it stops working.
We are currently on version-0.9.55.
[code]

[2019-12-05 10:00] snapkr commented on #140
Our current state ist that we have deactivated "forever", as we want that container do crash if the application has an issue. Now Kubernetes takes care of restarting the instance. All in all this makes the service provieded by node-build-monitor more stable. BUT without "forever" I have discovered that the application crashes due to an memory leak. See:
![grafik](https://user-images.githubusercont

[2019-12-05 10:00] piotr-maks commented on #140
Similar issue here
[code]

[2020-01-15 14:42] eoehen opened #208 "Docker container with Release 0.9.57 is missing on docker hub."
Docker container for Release 0.9.57 is missing on docker hub.
https://hub.docker.com/r/marcells/node-build-monitor/tags

[2020-01-15 18:33] marcells commented on #208
I think the automated builds in Docker Hub don't work from time to time. There are a few issues about that [here](https://github.com/docker/hub-feedback/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+tag+github).

You could use the `latest` tag as a temporary solution. That should be Version 0.9.57.

I hope it will work for the next release.

[2020-01-15 18:55] marcells commented on #208
I did build and upload the docker image manually now. You can use it.

[2020-01-15 18:55] #208 closed

[2020-01-28 16:42] vicv21800 opened #209 "Teamcity job In progress appears as finished"
On the dashboard the teamcity jobs that are in Progress (on teamcity) appears as Finished.
By the way we can see the "ran for x minutes and y seconds" being incremented until the job is actually really Finished.

[2020-01-30 12:02] marcells commented on #209
Feel free to take a look at the code. Maybe your Team City version is not compatible to the plugin.

[2020-02-13 19:28] nkringle opened #211 "Monitors with failed configurations could log credentials"
https://github.com/marcells/node-build-monitor/blob/master/app/monitor.js#L176

As services include api credentials in their spec, when a configuration fails to load, the log statement with the configuration should either remove credentials, or have an option to disable logging for [this](https://github.com/marcells/node-build-monitor/blob/master/app/monitor.js#L176) line.

[2020-02-13 19:31] nkringle opened #212 "Cut a new release"
There have been a couple of additions since the latest release (0.9.57). What is the timeline for cutting a new release?

We're specifically looking at https://github.com/marcells/node-build-monitor/pull/210 and https://github.com/marcells/node-build-monitor/pull/207.

[2020-02-13 19:45] nkringle opened #213 "Potential bug - droneCI filtering by branch and event"
I think this is a bug in the [DroneCI filter logic](https://github.com/marcells/node-build-monitor/blob/master/app/services/Drone.js#L29-L39). Here's what I'm trying to do:

I have a drone service that is specing both a branch and an event:
[code]

Pushes to non-master branches still trigger the build status to change.

This changes seems to resolve the issue:

[code]

[2020-02-15 11:42] marcells commented on #211
Good idea. I'll add a new flag to the configuration.

[2020-02-15 11:43] marcells commented on #212
I'll create a new release soon.

[2020-02-15 11:45] #213 closed

[2020-02-15 11:56] #211 closed

[2020-02-15 11:57] marcells commented on #211
The issue is fixed. Please take a look at commit de9ced4f92f547f8b9fa41a56d8f73ad237be6a4.

[2020-02-15 12:16] marcells commented on #212
Here we go: https://github.com/marcells/node-build-monitor/releases/tag/v0.9.58

[2020-02-15 12:16] #212 closed

[2020-03-04 05:16] khan-hassan opened #215 "Connecting With Travis-ci facing error no -4078"
I am running node-build-monitor manually. my config file is attached below.
I am facing error no : -4078.
Error: connect ECONNREFUSED 54.243.143.241:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1137:16) {
  errno: -4078,
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '54.243.143.241',
  port: 443
}
Can you help? I think i am taking token wrong.

[code]

[2020-03-15 12:36] marcells commented on #215
Your second part in the configuration looks wrong:
[code]

Is the issue still present?

[2020-04-07 07:59] Victor3512 opened #216 "Config file Gitlab what do I need?"
I can run it with npm and so on but it just shows an empty website... Also in command window it just says check for builds...

[2020-04-07 10:04] Victor3512 opened #217 "Edit build-monitor"
If I want to edit the build monitor in which file should I start coding?

[2020-04-07 10:05] #216 closed

[2020-04-07 12:19] marcells commented on #217
The plugins are located in the services folder. If you want to create a new plugin, then just take a look at the existing implementations.

[2020-04-08 08:25] Victor3512 commented on #217
If I'm using gitlab which exist and extend it a bit is that possible I just have to edit the gitlab.js?

[2020-04-08 13:16] JohnMcClane97 opened #218 "Job status"
Is it possible to get exactly which job that is currently running in a pipeline? if it is possible how can that be achieved?

[2020-04-09 17:30] marcells commented on #218
For which service? If the api of the service exposes that information, than it should be possible.

[2020-04-09 17:31] #217 closed

[2020-04-09 17:31] #215 closed

[2020-04-14 08:14] JohnMcClane97 commented on #218
for gitlab

[2020-04-21 18:22] nkringle opened #219 "Unit test Drone Service"
The drone service is not unit tested. I think this is leading to bugs. (I keep running into a scenario where when I do not include a `branch` or `event` it does not find and builds.

[2020-04-21 18:22] nkringle commented on #219
If I get free time this weekend I will try to submit a PR.

[2020-04-21 18:25] nkringle commented on #219
Also, I contributed to the problem with #214 as I didn't add unit tests. ;)

[2020-04-23 16:55] marcells commented on #219
Thank you.

[2020-04-23 16:58] marcells commented on #218
You can take a look at the implementation of the GitLab service (https://github.com/marcells/node-build-monitor/blob/master/app/services/GitLab.js).

I think you should take a look at the GitLab API Docs (https://docs.gitlab.com/ee/api/).

If you are not breaking things, feel free to make a PR. ;-)

[2020-05-01 10:32] #219 closed

[2020-05-04 13:13] JohnMcClane97 opened #223 "get pipelines from multiple pages on gitlab?"
Is there way to get request more pipelines from several pages from gitlab? to just change to next page in the url and get more then just the 20 latest builds?

sincerely/
John

[2020-05-04 14:25] JohnMcClane97 commented on #223
Found the solution by my self!
 just put: "?page=1&per_page=numberOfBuildsYouWant" after the pipeline Url in the buildProjectPipelineUrl function in the Gitlab.js file!

[2020-05-04 14:26] #223 closed

[2020-07-16 14:32] peterduchnovsky opened #225 "An error occured when fetching builds... "true" - error definition ?"
I am unable to set jenkins job/view monitoring due to this error, any idea what's going on ?

![cttodqU1hb](https://user-images.githubusercontent.com/54581833/87683876-dc5ccf80-c781-11ea-8270-eb76367cb464.jpg)

[2020-07-20 07:18] peterduchnovsky commented on #225
My colleague found out where the problem was.. you were defining joburl manually instead of using the url provided from api call.

This change helped:
![image](https://user-images.githubusercontent.com/54581833/87910235-fd673e00-ca69-11ea-889b-6576ee9e43e0.png)

[2020-07-20 07:18] #225 closed

[2020-07-31 17:09] marcells commented on #225
You could make a PR, if you want to, so that everyone can benefit of your bugfix.

[2020-09-09 18:49] pduchnovsky commented on #225
#227

[2020-10-02 10:27] ehmkah opened #228 "How backgroundcolor depends on state of gitlab-pipeline"
I am not quite sure how the color in the overview depends on the state of the gitlab pipeline;

The obvious ones are:
green => pipeline is green
red    => pipeline is red
grey  => pipeline canceled
blue  => pipeline running

But if a pipeline is passed with warnings it seems for me that the color is green but I would prefer that it is yellow. Is that possible? We have pipelines which have warnings

[2020-10-02 10:35] ehmkah commented on #228
Seems to be not possible with gitlab because there is only one state for "success" and "success with warning" (https://docs.gitlab.com/ee/api/pipelines.html#list-project-pipelines)

Gitlab has a feature request which wants "warning" state https://gitlab.com/gitlab-org/gitlab/-/issues/229137

[2020-10-03 10:37] marcells commented on #228
Did you take a look at this comment? Maybe this could be a solution.

https://gitlab.com/gitlab-org/gitlab/-/issues/229137#note_388855588

[2020-10-04 17:53] ehmkah commented on #228
okay interesting - i will have a look, maybe thats interesting. our plan was to add a last job which will fail :-)

[2020-10-05 05:22] ehmkah commented on #228
With the URI `api/v4/projects/<PROJECT_ID>/pipelines/<PIPELINE_ID>` If I receive something which might be of use.
[code]
@marcells - can that be used for determing the state of the last pipeline? is there a value in node-build-monitor for "warning"?

[2020-10-05 20:17] marcells commented on #228
Yes, you can use the `hasWarnings` flag (bool). I don't use GitLab or have experience with it, but I think that this request could do the trick.

Here is a sample of the return value of the `Tfs` service:
[code]

Feel free to make a PR.

[2020-10-07 08:46] ehmkah commented on #228
Pullrequest is open - I am happy waiting for your comments. Maybe storing color values for success, warning, running, etc should be managed as global constant. I copied the value from the jenkins-service-implementation.

[2020-10-08 17:41] #228 closed

[2020-10-08 17:45] marcells commented on #228
I'm fine with that. As long as all color values are kept in the `getBuildStatus` method we don't need to move them somewhere. But if you want to, then do it. ;-)

[2020-10-08 18:23] ehmkah opened #232 "Move color-definition of build-state to global scope"
Many different build-systems are supported and the state of the build is mapped to a color. This mapping is implemented in `getBuildStatus`. It would be nice to have a global defined mapping of states to color. It would make it
- easier to define which color could be expected especially if you show different build-systems simultaneously
- easier to define themes where the colors of build-state cou

[2020-10-08 18:25] ehmkah commented on #228
For the colors I opened a new issue https://github.com/marcells/node-build-monitor/issues/232

[2020-10-09 16:53] marcells commented on #228
Ah, I see, how you ment it. That's a good idea. 👍

[2020-10-09 16:55] marcells commented on #232
Good idea. You can implement it, if you want to.

[2021-04-09 11:49] pduchnovsky commented on #140
Same issue here, even if we restart the container every 6 hours, it still freezes almost every restart.

[2021-06-25 07:51] sverhagen commented on #18
This can probably be closed now.

[2021-07-04 07:59] #18 closed

[2021-10-01 16:47] jmbarbier opened #244 "Certificate issue with docker image"
Docker image uses node:7 as base image, and LetEncrypt IdentTrust DST Root CA X3 certificate expired on 30th September 2021
(https://scotthelme.co.uk/lets-encrypt-old-root-expiration/)
This image does not contain the new certificates, so

[code]

Rebuilding the image with a more recent node base image solves the problem (node:lts for example).

[2021-10-01 16:58] #244 closed

[2022-08-26 16:22] Grifplex commented on #192
Has this been project gone stale?